// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.heading-medium{
  // font-size: 19px;
  margin-top: 40px;
  margin-bottom: 15px;
}
.heading-secondary{
  font-size: 22px;
  font-weight: 400;
  color:#6f777b
}
.form-hint{
  margin-bottom: 10px;
}
.form-group {
  margin-bottom: 40px;
}
// multiples - add another item from DWP
.button-add-another-vertical {
  background-color: #eee;
  color: #000;
  box-shadow: 0 2px 0 #666;
  margin-bottom: 60px;
}

.button-add-another-vertical:hover {
  background-color: #ccc;
  color: #000;
  box-shadow: 0 2px 0 #666;
}

.button-add-another-vertical:focus {
  background-color: #ccc;
  color: #000;
  box-shadow: 0 2px 0 #666;
}
// sidebar profile styles
.font-xsmall{
  margin-top: 0px;
  margin-bottom: 0px;
}
.info-start{
  margin-top: 10px;
}
.side-profile h1 {
  font-size: 24px;
  padding-bottom: 10px;
}
.namebold{
  font-weight:bold
}
.side-profile h2{
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: bold;
}
.side-profile {
  padding-left: 15px;
  margin-left: 40px;
  max-width: 180px;
  border-left: solid 5px #005EA5;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}
.side-profile img{
  width: 130px;
  height: auto;
}
// profile - offences
td.answer p {
  margin: 0 0 1em;
  font-weight: bold;
}
td.answer p .casenum{
  font-weight: normal;
}
//
.missing{
  color: $red;
}
// Dashboard styles
.cancelled {
  color: $red;
  font-weight: bold;
}
.issued{
  color: #00823B;
  font-weight: bold;
}
.todo, .todo a {
  color: $red;
}
.todo::before {
  /*content: '⚠ ';*/
  font-size: 24px;
}
.review a{
  color: $red;
}
.done{
  color: #00823B;
}
.done::before{
  content: '✔ '
}
.done a{
  color: #00823B;
}
.surname{
  font-weight: bold;
}
thead th{
  font-size: 16px;
  font-weight: normal;
}
.prisonnumber{
  color: #005EA5;
}
.print{
  color:#B10E1E;
}
// flag styles
.flag{
  box-sizing: border-box;
  /*text-transform: uppercase;*/
  font-family: 'arial narrow', sans-serif;
  display: inline-block;
  /*font-weight: bold;*/
  color: white;
  background-color: #B10E1E;
  padding: 2px 6px;
  margin-right: 2px;
  margin-top: 5px;
  border: solid 2px #B10E1E;
}
.flag:after{
  content: "\2714";
  // content:"✔";
  // text-align: center;
  // color: #B10E1E;
  // background-color: white;
  margin-left: 6px
}
.flag-inactive{
  //display: none;
  box-sizing: border-box;
  // text-decoration: line-through;
  font-weight: lighter;
  background-color: white;
  border: solid 2px #BFC1C3;
  color: #0b0c0c;
}
.flag-inactive:after{
  content:"\2718  No";
  /*font-weight: bold;*/
}
//
.nomis-verified{
  border: solid 2px #00823B;
  color: #00823B;
  background-color:white;
  // color:white;
  font-weight: bold;
  padding:4px 10px;
  display:inline-block;
  margin-bottom:15px;
  text-align:center;
}
.nomis-verified:after{
  content: "NOMIS alerts checked";
}
.alert-description{
  font-style: italic;
}
.col-strong{
  font-weight:bold !important;
}

// profile styles
.button-cancel{
  margin-right: 10px;
  background-color: #B10E1E !important;
}
.button-cancel:hover{
  background-color: #940817 !important;
}
.button-reprint{
  margin-right: 10px;
}
.alert-success {
  border-color: $turquoise;
  background-color: mix(white, $turquoise, 90%);
}
.alert-success :hover{
  // background-color: mix(white, $turquoise, 80%);
}
.alert-warning {
  border-color: $red;
  background-color: mix(white, $mellow-red, 90%);
}
.alert-success .status{
  // background-color: white;
  position: absolute;
  right: 20px;
  top: 40px;
  font-weight: bold;
  color: $turquoise;
  border: solid 2px $turquoise;
  padding: 4px 10px;
}
.alert-success .amend_link{
  color: $turquoise;
}
.alert-warning .status{
  // background-color: white;
  // position: absolute;
  right: 20px;
  top: 40px;
  font-weight: bold;
  color: $red;
  border: solid 2px $red;
  padding: 4px 10px;
}
.alert-warning .amend_link{
  color: $red;
}
// summary check your answers styles
.notice{
  padding: 20px;
  background-color: #FAF2C5 !important;
  margin-bottom: 20px;
}
.notice-cancelled{
  background-color:#f2dede !important;
  color:#B10E1E;
}
.icon {
  margin-left: 20px
}
.status{
  display: inline-block;
  font-weight: bold;
  color: $red;
  border: solid 2px $red;
  padding: 4px 10px;
}
.statusdone{
  display: inline-block;
  font-weight: bold;
  color: #00823B;
  border: solid 2px #00823B;
  padding: 4px 10px;
  margin-right: 10px;
}
// cancel link next to button //
.linkstylebutton{
  display:inline-block;
  margin:10px 20px;
}
#global-header .header-wrapper{
  margin-left: 40px;
}
#global-header #logo {
  width: 40px;
  height: 35px;
  overflow: hidden;
  background-image: url("/public/images/crest.png");
  background-size: 36px 31px;
}
#proposition-name{
  position: relative;
  right: 290px;
}
