{% extends "layout.html" %}

{% block page_title %}
Check your answers
{% endblock %}

{% block content %}
<script type="text/javascript">
window.addEventListener("load", myFunction);
function myFunction(){
  loadFunction()
  showMissing()
}
function loadFunction(){
  dataDump({{ data | dump | safe}});
}
function showMissing(){
  console.log('showMissing');
  getColumn("myTable", "1", "check-your-answers-health-check.html");
  //onlyShowMissing("myTable");
}
</script>

<main id="content" role="main">
<style media="screen">
.column-two-thirds{
  width: 75%;
}

table th{
  font-weight: bold;
}

</style>

{% include "includes/breadcrumb_health_summary.html" %}

<h1 class="heading-large">
  Please complete the missing answers</h1>
  <p>
    <span class="status" style="margin-right:10px;">
      Incomplete
    </span>
  </p>
  <table class="check-your-answers column-two-thirds" id="myTable">
    <col width="30%">
    <col width="20%">
    <col width="auto">
    <th>Physical health issues</th>
    <th></th>
    <th class="change-answer">
      <a href="health_02.html">
        Change <span class="visuallyhidden">change question 1</span>
      </th>
      <tbody>
        <tr>
          <td>
            Physical health issues
          </td>
          <td>
            {{ data['physical_health'] }}
          </td>
          <td>
            {{ data['physical_health_info'] }}
          </td>
        </tr>

        <th>Mental health issues</th>
        <th></th>
        <th class="change-answer">
          <a href="health_03.html">
            Change <span class="visuallyhidden">change question 2</span>
          </th>
          <tbody>
            <tr>
              <td>
                Mental health issues
              </td>
              <td>
                {{ data['mental_health'] }}
              </td>
              <td>
                {{ data['mental_health_info'] }}
              </td>
            </tr>

            <th>Special vehicles</th>
            <th></th>
            <th class="change-answer">
              <a href="health_04.html">
                Change <span class="visuallyhidden">change question 3</span>
              </th>
              <tbody>
                <tr>
                  <td>
                    Special vehicles
                  </td>
                  <td>
                    {{ data['special_vehicle'] }}
                  </td>
                  <td>
                    {{ data['special_vehicle_info'] }}
                  </td>
                </tr>

                <th>Essential medication</th>
                <th></th>
                <th class="change-answer">
                  <a href="health_05.html">
                    Change <span class="visuallyhidden">change question 4</span>
                  </th>
                  <tbody>
                    <tr>
                      <td>
                        Essential medication
                      </td>
                      <td>
                        {{ data['medicine'] }}
                      </td>
                      <td>
                        {{ data['medicine_name'] }} |
                        {{ data['medicine_howgiven'] }} |
                        {{ data['medicine_dosage'] }} |
                        {{ data['medicine_dosagefrequency'] }} | 
                        {{ data['medicine_carriedby'] }}
                      </td>
                    </tr>

                    <th>Dependencies</th>
                    <th></th>
                    <th class="change-answer">
                      <a href="health_06.html">
                        Change <span class="visuallyhidden">change question 5</span>
                      </th>
                      <tbody>
                        <tr>
                          <td>
                            Dependencies
                          </td>
                          <td>
                            {{ data['dependencies'] }}
                          </td>
                          <td>
                            {{ data['dependencies_info'] }}
                          </td>
                        </tr>

                        <th>Allergies and intolerances</th>
                        <th></th>
                        <th class="change-answer">
                          <a href="health_07.html">
                            Change <span class="visuallyhidden">change question 6</span>
                          </th>
                          <tbody>
                            <tr>
                              <td>
                                Allergies and intolerances
                              </td>
                              <td>
                                {{ data['allergies'] }}
                              </td>
                              <td>
                                {{ data['allergies_info'] }}
                              </td>
                            </tr>

                            <th>Personal care</th>
                            <th></th>
                            <th class="change-answer">
                              <a href="health_08.html">
                                Change <span class="visuallyhidden">change question 7</span>
                              </th>
                              <tbody>
                                <tr>
                                  <td>
                                    Personal care
                                  </td>
                                  <td>
                                    {{ data['personalcare'] }}
                                  </td>
                                  <td>
                                    {{ data['personalcare_info'] }}
                                  </td>
                                </tr>

                                </table>

                                <div class="side-profile column-one-third">
                                  {% include "includes/side-profile.html" %}
                                </div>

                                <div class="column-two-thirds" style="padding:50px 0px">
                                  <a href="profile" class="button">View PER</a>
                                  <a href="index" class="linkstylebutton">Return to home</a>
                                </div>

                              </div>


                            </main>

                            {% endblock %}
