{% extends "layout.html" %}

{% block page_title %}
Check your answers
{% endblock %}

{% block content %}

<script>
window.addEventListener("load", loadFunction);
function loadFunction() {
  dataDump({{ data | dump | safe}});
  if( {{ data['missing'] == "Yes" }}) {
    showMissing();
    // console.log('loadFunction showMissing');
  } else {
    showAll();
    setState('missing', 'No');
    // console.log('loadFunction showAll');
  }

}
function showAll() {
  console.log('showAll');
  getColumn("myTable", "1", "check-your-answers-risk-check.html");
}
function showMissing(){
  console.log('showMissing');
  getColumn("myTable", "1", "check-your-answers-risk-check.html");
  onlyShowMissing("myTable");
}
function formSubmit(radioObj){
  if(radioObj.checked){
    document.getElementById("radioForm").submit();
  }
  if (radioObj.value == "Yes") {
    //showMissing();
    console.log('showMissing');
  } else {
    console.log('showAll');
    // showAll();
  }
  console.log(radioObj.value);
}
</script>

<style media="screen">
.column-two-thirds{
  width: 75%;
  td:first-child {
    padding-left: 20px;
  }
}
table th{
  font-weight: bold;
}
</style>

<main id="content" role="main" >
  <!-- <a href="check_print_out.html" style="font-weight:bold;">View Print out (for testing only)</a> -->
  {% include "includes/breadcrumb_risk_summary.html" %}
  <h1 class="heading-large">
    Please complete the missing answers</h1>
    <p>
      <span class="status" style="margin-right:10px;">
        Incomplete
      </span>
    </p>

    <table id="myTable" class="check-your-answers column-two-thirds" style="">
      <col width="35%">
      <col width="20%">
      <col width="auto">
      <th>Risk to self</th>
      <th></th>
      <th class="change-answer"><a href="risk_01.html">Change <span class="visuallyhidden">change question 1</span></th>
        <tbody>

          <tr>
            <td>
              Suicide or self harm risk
            </td>
            <td>
              {{ data['selfharm'] }}
            </td>
            <td>
              {{ data['selfharm_info'] }}
            </td>
          </tr>
        </tbody>
        <th>Segregation</th>
        <th></th>
        <th class="change-answer">
          <a href="risk_02.html">
            Change <span class="visuallyhidden">change question 2</span>
          </a>
        </th>
        <tbody>
          <tr>
            <td>
              Cell sharing risk
            </td>
            <td>
              {{ data['csra'] }}
            </td>
            <td>
              {{ data['csra_info'] }}
            </td>
          </tr>
          <tr>
            <td>Vulnerable prisoner</td>
            <td>{{data['vulnerable']}}</td>
            <td>{{data['vulnerable_info']}}</td>
          </tr>
        </tbody>

        <th>Security</th>
        <th></th>
        <th class="change-answer">
          <a href="risk_03.html">
            Change <span class="visuallyhidden">change question 3</span>
          </a>
        </th>
        <tbody>
          <tr>
            <td>
              Multiple officer unlock/escort
            </td>
            <td>
              {{ data['controlledunlock'] }}
            </td>
            <td>
              {{ data['controlledunlock_info'] }}
            </td>
          </tr>
          <tr>
            <td>
              High public interest
            </td>
            <td>
              {{ data['publicInterest'] }}
            </td>
            <td>
              {{ data["publicInterest_info"] }}
            </td>
          </tr>
          <tr>
            <td>PNC warnings</td>
            <td>
              {{ data['pnc'] }}
            </td>
            <td>
              {{ data['pnc_info'] }}
            </td>
            <!-- <td>{{data['field-1'] }} | {{data['field-2'] }} | {{data['field-3'] }} </td> -->

          </tr>
        </tbody>

        <th>Violence</th>
        <th></th>
        <th class="change-answer">
          <a href="risk_04.html">
            Change <span class="visuallyhidden">change question 4</span>
          </th>
          <tbody>
            <tr>
              <td>
                Violent or dangerous
              </td>
              <td>
                {{ data['violent_dangerous'] }}
              </td>
              <td>
                {{ data['violent_dangerous_info'] }}
              </td>
            </tr>
          </tbody>

          <th>Harassment and gangs</th>
          <th></th>
          <th class="change-answer">
            <a href="risk_05.html">
              Change <span class="visuallyhidden">change question 5</span>
            </th>
            <tbody>
              <tr>
                <td>
                  Public harasser
                </td>
                <td>
                  {{ data['intimidator_public'] }}
                </td>
                <td>
                  {{ data['intimidator_public_info'] }}
                </td>
              </tr>
              <!-- <tr>
              <td>
              Prisoner harasser
            </td>
            <td>
            {{ data['intimidator_prisoners'] }}
          </td>
          <td>
          {{ data['intimidator_prisoners_info'] }}
        </td>
      </tr> -->
      <tr>
        <td>Gang member</td>
        <td>{{ data['gangs'] }}</td>
        <td>{{ data['gangs_info'] }}</td>
      </tr>
    </tbody>

    <th>Discrimination against others</th>
    <th></th>
    <th class="change-answer">
      <a href="risk_06.html">
        Change <span class="visuallyhidden">change question 6</span>
      </th>
      <tbody>
        <tr>
          <td>
            Violent to staff
          </td>
          <td>
            {{ data['violent_to_staff'] }}
          </td>
          <td>
            {{ data['violent_to_staff_info'] }}
          </td>
        </tr>
        <tr>
          <td>
            Risk to females
          </td>
          <td>
            {{ data['risktofemales'] }}
          </td>
          <td>
            {{ data['risktofemales_info'] }}
          </td>
        </tr>
        <tr>
          <td>
            Risk to LGBT people
          </td>
          <td>
            {{ data['homosexuals'] }}
          </td>
          <td>
            {{ data['homosexuals_info'] }}
          </td>
        </tr>
        <tr>
          <td>
            Racist
          </td>
          <td>
            {{ data['racist'] }}
          </td>
          <td>
            {{ data['racist_info'] }}
          </td>
        </tr>
        <tr>
          <td>
            Risk to other religions
          </td>
          <td>
            {{ data['religions'] }}
          </td>
          <td>
            {{ data['religions_info'] }}
          </td>
        </tr>
        <tr>
          <td>
            Risk to other groups
          </td>
          <td>
            {{ data['violent_risk_to_othergroups'] }}
          </td>
          <td>
            {{ data['violent_risk_to_othergroups_info'] }}
          </td>
        </tr>
      </tbody>

      <th>Escape status/history</th>
      <th></th>
      <th class="change-answer">
        <a href="risk_07.html">
          Change <span class="visuallyhidden">change question 7</span>
        </th>
        <tbody>


          <tr>
            <td>
              Escape risk
            </td>
            <td>
              {{ data['escape_attempts'] }}
            </td>
            <td>
              {{ data['escape_risk_info'] }}
            </td>
          </tr>
        </tbody>

        <th>Hostage taker</th>
        <th></th>
        <th class="change-answer">
          <a href="risk_08.html">
            Change <span class="visuallyhidden">change question 8</span>
          </th>
          <tbody>
            <tr>
              <td>
                Hostage taker
              </td>
              <td>
                {{ data['hostage_taker'] }}
              </td>
              <td>
                {{ data['hostage_taker_info'] }}
              </td>
            </tr>
          </tbody>

          <th>Sex offender</th>
          <th></th>
          <th class="change-answer">
            <a href="risk_09.html">
              Change <span class="visuallyhidden">change question 9</span>
            </th>
            <tbody>
              <tr>
                <td>
                  Sex offender
                </td>
                <td>
                  {{ data['sex_offender'] }}
                </td>
                <td>
                  {{ data['sex_offender_info'] }}
                </td>
              </tr>
            </tbody>

            <th>Weapons, drugs or other items</th>
            <th></th>
            <th class="change-answer">
              <a href="risk_10.html">
                Change <span class="visuallyhidden">change question 10</span>
              </th>
              <tbody>
                <tr>
                  <td>
                    Creates or uses weapons
                  </td>
                  <td>
                    {{ data['creates_uses_weapons'] }}
                    <td>
                      {{ data['creates_uses_weapons_info'] }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Conceals weapons
                    </td>
                    <td>
                      {{ data['conceals_weapons'] }}
                    </td>
                    <td>
                      {{ data['conceals_weapons_info'] }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Conceals drugs
                    </td>
                    <td>
                      {{ data['conceals_drugs'] }}
                    </td>
                    <td>
                      {{ data['conceals_drugs_info'] }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Conceals mobile phones. SIM cards or other items
                    </td>
                    <td>
                      {{data['conceals_mobiles_et_al']}}
                    </td>
                    <td>
                      {{ data['conceals_mobiles_et_al_info'] }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Drug trafficking risk
                    </td>
                    <td>
                      {{ data['trafficdrugs'] }}
                    </td>
                    <td>
                      {{ data['trafficdrugs_info'] }}
                    </td>
                  </tr>
                </tbody>

                <th>Arson</th>
                <th></th>
                <th class="change-answer">
                  <a href="risk_11.html">
                    Change <span class="visuallyhidden">change question 11</span>
                  </th>
                  <tbody>
                    <tr>
                      <td>
                        Arsonist
                      </td>
                      <td>
                        {{ data['arson'] }}
                      </td>
                      <td>
                      </td>
                    </tr>
                  </tbody>


                  <th>Other risk information</th>
                  <th></th>
                  <th class="change-answer">
                    <a href="risk_12.html">
                      Change <span class="visuallyhidden">change question 12</span>
                    </th>
                    <tbody>
                      <tr>
                        <td>
                          Other risk information
                        </td>
                        <td>
                          {{ data['other_final'] }}
                        </td>
                        <!-- <td>
                        {{ data['other_final'] }}
                      </td> -->
                      <td>
                        {{ data['other_final_info'] }}
                        <!-- {{ session.other_final_info }} -->
                      </td>
                    </tr>

                  </tbody>



                  </table>

                </div>
              </div>

              <div class="side-profile column-one-third">
                {% include "includes/side-profile.html" %}
              </div>

              <div class="column-two-thirds" style="padding:50px 0px">
                <a href="profile" class="button">View PER</a>
                <a href="dashboard_police" class="linkstylebutton">Return to home</a>
              </div>
            </div>


          </main>

          {% endblock %}
