{% extends "layout.html" %}

{% block page_title %}
Check your answers
{% endblock %}

{% block content %}
<style media="screen">
.column-two-thirds{
  width: 75%;
  td:first-child {
    padding-left: 20px;
  }
}
.missing{
  color:#B10E1E;
}
.notes{
  font-style: italic;
  color: black;
}
.case-notes::after{
  color: black;
  background-color: yellow;
  /*content: "CN"*/
}
.case-notes-and-other-source::after{
  color: black;
  background-color: yellow;
  /*content: "CN + 0"*/
}
.case-notes-and-adjud::after{
  color: black;
  background-color: yellow;
  /*content: "CN + A"*/
}
.adjud::after{
  color: black;
  background-color: yellow;
  /*content: "A"*/
}
.mercury::after{
  color: black;
  background-color: yellow;
  /*content: "M"*/
}
.mercury-and-adjud::after{
  color: black;
  background-color: yellow;
  /*content: "M + A"*/
}
.other-source::after{
  color: black;
  background-color: yellow;
  /*content: "O"*/
}

</style>

<main id="content" role="main">
  <a href="check_print_out.html" style="font-weight:bold;">View Print out (for testing only)</a>
  <h1 class="heading-large">
    Please complete the missing answers</h1>
    <p>
      <span class="status" style="margin-right:10px;">
        Incomplete
      </span>
      <!-- Automatic update from NOMIS, 15:32 | 12 Apr 2017 -->
    </p>
    <div class="">
      <div class="notice" style="width:670px;">
        <i class="icon icon-important">
        </i>
        <strong class="bold-small">
          NOMIS alerts and comments that can be safely automated have been. You need to check and complete the rest.
          <br><span style="font-weight:normal;">Last updated from NOMIS: 02:23 | DD Month YYYY</span>
        </strong>
      </div>
    <!-- <div class="notice column-two-thirds">
    <i class="icon icon-important">
  </i>
  <strong class="bold-small">
  This information was last saved 23 hours ago.
  <br><span style="font-weight:normal;">Make sure all answers are up to date and check history and events in the last PER for any relevant updates.</span>
</strong>
</div> -->
<table class="check-your-answers column-two-thirds">
  <col width="35%">
  <col width="20%">
  <col width="auto">
  <th>Risk to self</th>
  <th></th>
  <th class="change-answer">
    <a href="risk_01.html">
      Change <span class="visuallyhidden">change question 2</span>
    </th>
    <tbody>
      <tr>
        <td>
          ACCT status
        </td>
        <td class="missing">
          Missing
        </td>
        <td class="">

        </td>
      </tr>
      <tr>
        <td>
          Risk of self harm
        </td>
        <td class="missing">
          Missing
        </td>
        <td>
        </td>
      </tr>
    </tbody>
    <th>Segregation</th>
    <th></th>
    <th class="change-answer">
      <a href="risk_02.html">
        Change <span class="visuallyhidden">change question 2</span>
      </a>
    </th>
    <tbody>
      <tr>
        <td>
          CSRA level
        </td>
        <td class="col-strong">
          Standard
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          Rule 45
        </td>
        <td class="col-strong">
          No
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>Vulnerable prisoner</td>
        <td class="missing">Missing</td>
        <td>
        </td>
      </tr>
    </tbody>

    <th>Security</th>
    <th></th>
    <th class="change-answer">
      <a href="risk_03.html">
        Change <span class="visuallyhidden">change question 2</span>
      </a>
    </th>
    <tbody>
      <tr>
        <td>
          Controlled unlock
        </td>
        <td class="col-strong">
          No
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          Cat A or potential Cat A
        </td>
        <td class="missing">
          Missing
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          High public interest
        </td>
        <td class="col-strong">
          No
        </td>
        <td class="case-notes">
        </td>
      </tr>
      <tr>
        <td>PNC warnings</td>
        <td class="missing">Missing</td>
        <td>
        </td>
      </tr>
    </tbody>


    <th>Harassment and gangs</th>
    <th></th>
    <th class="change-answer">
      <a href="risk_04.html">
        Change <span class="visuallyhidden">change question 3</span>
      </th>
      <tbody>
        <!-- <tr>
        <td>
        Staff harasser
      </td>
      <td>
      Yes
    </td>
    <td class="missing">
    Missing <span class="notes">(Potentially missing on NOMIS or mulitple - currently mandatory in app)</span>
  </td>
</tr> -->
<tr>
  <td>
    Public harasser
  </td>
  <td class="col-strong">
    Yes
  </td>
  <td class="case-notes-and-other-source">
    COMMON ASSAULT   CANNABIS USER<br>12 months Restraining Order (Uxb MC 29/11/13) - Lesley Grant, 10 Lapwing Way, Hayes.<br>ntc lesley grant<br>threats to assault officer , common assault/ battery/ ass constable<br>oasys dated 11.10.16 - section 6
  </td>
</tr>
<tr>
  <td>
    Prisoner harasser
  </td>
  <td>
    ??
  </td>
  <td class="case-notes-and-other-source">
  </td>
</tr>
<tr>
  <td>
    Witness harasser
  </td>
  <td class="notes">
    ??
  </td>
  <td class="notes">

  </td>
</tr>
<tr>
  <td>Gang member</td>
  <td class="missing">Missing</td>
  <td class="case-notes-and-other-source">
  </td>
</tr>
</tbody>

<th>Discrimination against others</th>
<th></th>
<th class="change-answer">
  <a href="risk_05.html">
    Change <span class="visuallyhidden">change question 4</span>
  </th>
  <tbody>
    <tr>
      <td>
        Violent to staff
      </td>
      <td class="missing">
        Missing
      </td>
      <td class="case-notes-and-adjud">
      </td>
    </tr>
    <tr>
      <td>
        Risk to females
      </td>
      <td class="missing">
        Missing
      </td>
      <td class="case-notes">
      </td>
    </tr>
    <tr>
      <td>
        Risk to LGBT people
      </td>
      <td class="missing">
        Missing
      </td>
      <td class="case-notes">
      </td>
    </tr>
    <tr>
      <td>
        Racist
      </td>
      <td class="missing">
        Missing
      </td>
      <td class="case-notes">
      </td>
    </tr>
    <tr>
      <td>
        Risk to other religions
      </td>
      <td class="missing">
        Missing
      </td>
      <td class="case-notes">
      </td>
    </tr>
    <tr>
      <td>
        Risk to other groups
      </td>
      <td class="missing">
        Missing
      </td>
      <td class="case-notes">
      </td>
    </tr>
  </tbody>

  <th>Escape status/history</th>
  <th></th>
  <th class="change-answer">
    <a href="risk_06.html">
      Change <span class="visuallyhidden">change question 5</span>
    </th>
    <tbody>
      <tr>
        <td>
          Currently on E list
        </td>
        <td class="col-strong">
          No
        </td>
        <td class="mercury">
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>
          Escape risk
        </td>
        <td class="col-strong">
          No
        </td>
        <td class="mercury">
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>
          Escort Risk Assessment needed
        </td>
        <td class="missing">
          Missing
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          Escort Pack needed
        </td>
        <td class="missing">
          Missing
        </td>
        <td>
        </td>
      </tr>
    </tbody>

    <th>Hostage taker</th>
    <th></th>
    <th class="change-answer">
      <a href="risk_07.html">
        Change <span class="visuallyhidden">change question 6</span>
      </th>
      <tbody>
        <tr>
          <td>
            Staff hostage taker
          </td>
          <td class="missing case-notes-and-adjud">
            Missing
          </td>
          <td>
            <!-- {{ session.hostage_staff_day }}{{ session.hostage_staff_month }}{{ session.hostage_staff_year }} -->
          </td>
        </tr>
        <tr>
          <td>
            Prisoner hostage taker
          </td>
          <td class="missing case-notes-and-adjud">
            Missing
          </td>
          <td>
            <!-- {{ session.hostage_prisoners_day }}{{ session.hostage_prisoners_month }}{{ session.hostage_prisoners_year }} -->
          </td>
        </tr>
        <tr>
          <td>
            Public hostage taker
          </td>
          <td class="missing case-notes-and-adjud">
            Missing
          </td>
          <td>
            <!-- {{ session.hostage_public_day }}{{ session.hostage_public_month }}{{ session.hostage_public_year }} -->
          </td>
        </tr>
      </tbody>


      <th>Sex offender</th>
      <th></th>
      <th class="change-answer">
        <a href="risk_08.html">
          Change <span class="visuallyhidden">change question 7</span>
        </th>
        <tbody>
          <tr>
            <td>
              Sex offender victim adult male
            </td>
            <td class="missing other-source">
              Missing
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              Sex offender victim adult female
            </td>
            <td class="missing other-source">
              Missing
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              Sex offender victim under 18
            </td>
            <td class="missing other-source">
              Missing
            </td>
            <td>
              {{ session.under18_info }}
            </td>
          </tr>
        </tbody>

        <th>Weapons, drugs or other items</th>
        <th></th>
        <th class="change-answer">
          <a href="risk_09.html">
            Change <span class="visuallyhidden">change question 09</span>
          </th>
          <tbody>
            <tr>
              <td>
                Creates or uses weapons
              </td>
              <td class="missing">
                Missing
              </td>
              <td class="mercury-and-adjud">
                {{ session.creates_uses_weapons_info }}
              </td>
            </tr>
            <tr>
              <td>
                Conceals weapons
              </td>
              <td class="missing">
                Missing
              </td>
              <td class="mercury-and-adjud">
                {{ session.conceals_weapons_info }}
              </td>
            </tr>
            <tr>
              <td>
                Conceals drugs
              </td>
              <td class="missing">
                Missing
              </td>
              <td class="mercury-and-adjud">
                {{ session.conceals_drugs_info }}
              </td>
            </tr>
            <tr>
              <td>
                Conceals mobile phones
              </td>
              <td class="missing">
                Missing
              </td>
              <td class="mercury-and-adjud">
              </td>
            </tr>
            <tr>
              <td>
                Conceals SIM cards
              </td>
              <td class="missing">
                Missing
              </td>
              <td class="mercury-and-adjud">
              </td>
            </tr>
            <tr>
              <td>
                Conceals other items
              </td>
              <td class="missing">
                Missing
              </td>
              <td class="mercury-and-adjud">
                {{ session.conceals_other_info }}
              </td>
            </tr>
            <tr>
              <td>
                Drug trafficking risk
              </td>
              <td class="missing">
                Missing
              </td>
              <td class="mercury-and-adjud">
              </td>
            </tr>
          </tbody>

          <th>Arson</th>
          <th></th>
          <th class="change-answer">
            <a href="risk_10.html">
              Change <span class="visuallyhidden">change question 10</span>
            </th>
            <tbody>
              <tr>
                <td>
                  Arsonist
                </td>
                <td class="col-strong">
                  No
                </td>
                <td>
                </td>
              </tr>
            </tbody>

            <th>Return instructions
              <th></th>
              <th class="change-answer">
                <a href="risk_11.html">
                  Change <span class="visuallyhidden">change question 11</span>
                </th>
                <tbody>
                  <tr>
                    <td>
                      Must return to
                    </td>
                    <td class="col-strong">
                      Yes
                    </td>
                    <td class="missing">
                      Missing <span class="notes" style="font-style:normal"> | Police production 04/05/2016 - 05/05/2016</span><span class="notes">- safe to automate? This is in the past no longer relevant</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Must not be sent to
                    </td>
                    <td class="missing">
                      Missing
                    </td>
                    <td>
                    </td>
                  </tr>
                </tbody>

                <th>Other risk information</th>
                <th></th>
                <th class="change-answer">
                  <a href="risk_12.html">
                    Change <span class="visuallyhidden">change question 12</span>
                  </th>
                  <tbody>
                    <tr>
                      <td>
                        Other risk information
                      </td>
                      <td class="missing">
                        Missing
                      </td>
                      <td>
                      </td>
                    </tr>

                  </tbody>

                </table>

              </div>
            </div>

            <div class="column-one-third side-profile">
              <h1><span class="namebold"> <a href="/profile.html"> A1234AB</a><br/>BARKER</span> RONNIE</h1>
              <img src="/public/images/ronnie.jpg"/>
              <p class="font-xsmall info-start">Date of travel</p>
              <h2>13 Apr 2017</h2>
              <p class="font-xsmall">From</p>
              <h2>HMP Bedford</h2>
              <p class="font-xsmall">To</p>
              <h2>St Albans Crown Court</h2>
            </div>

            <div class="column-two-thirds" style="padding:50px 0px">
              <a href="profile" class="button">View PER</a>
              <a href="dashboard" class="linkstylebutton">Return to home</a>
            </div>
          </div>


        </main>

        {% endblock %}
