{% extends "layout.html" %}

{% block page_title %}
Check your answers
{% endblock %}

{% block content %}
<style media="screen">
.column-data{
  position: relative;
  left:55px;
  display: inline-block;
  min-width: 134px !important;
}
.col-width {
  width: 115px;
}
.col-width-print {
  width: 10px;
}
.button-start{
  /*float: right;*/
}
.red{
  color: #B10E1E;
}
.green{
  color:#00823B;
}
th{
  font-size: 19px !important;
  font-weight: bold !important;*/
}
.newpanel {
  border-top: solid 3px #0B0C0C;
  border-bottom: solid 3px #0B0C0C;
  padding: 15px 10px 20px 0px;
  margin-bottom: 5px;
  margin-top: 10px;
  background-color: white;
}
.xsmall{
  padding-bottom: 5px !important;
}
</style>

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  <h1 class="heading-xlarge" style="margin-bottom:40px;"><span class="heading-secondary">PERs from</span>HMP/YOI Wormwood Scrubs
    <a class="button button-start" href="search" role="button" style="margin-left:20px">Start a PER</a></h1>
    <!-- <hr style="margin:30px 0px 20px;"> -->
    <div class="newpanel">
      <div class="">
        <span class="heading-secondary" style="">Movements on</span>
      </div>
      <div class="data column-one-quarter" style="margin-left:-15px !important;">

        <span class="data-item bold-large">24/12/2017</span>
        <a class="button" href="" role="button" style="background-color:#dee0e2; color:#0b0c0c; margin-top:5px; font-size:16px">Change date</a></h1>
      </div>
      <div class="data column-one-quarter">
        <span class="data-item bold-large">5</span>
        <span class="data-item ">Total persons<br>due to move</span>
        <!-- <span class="data-item small">due to move</span> -->
        <!-- <span class="data-item small">Total persons<br>due to move</span> -->
      </div>
      <div class="data column-data">
        <span class="data-item bold-large red">3</span>
        <span class="data-item xsmall red">Risk<br>incomplete</span>
        <!-- <span class="data-item xsmall red">Risk <br>incomplete</span> -->
      </div>
      <div class="data column-data">
        <span class="data-item bold-large red">2</span>
        <span class="data-item xsmall red">Health<br>incomplete</span>
      </div>
      <div class="data column-data">
        <span class="data-item bold-large green">✔</span>
        <span class="data-item xsmall green">Offences<br>completed</span>
      </div>
    </div>
  </div>


  <table class="">
    <thead>
      <tr>
        <th>
          Prison no
        </th>
        <th>
          Name
        </th>
        <th>
          Destination
        </th>
        <th class="col-width">
          Risk
        </th>
        <th class="col-width">
          Health
        </th>
        <th class="col-width">
          Offences
        </th>
        <th class="col-width-print">
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
        <td><span class="surname">Option 01</span><br>Existing app flow</td>
        <td>St Alban's Crown Court</td>
        <td class="todo"><a href="risk_01.html">Start</a></td>
        <td class="todo"><a href="health_01">Start</a></td>
        <td class="todo"><a href="offences">Start</td>
          <td class="print change-answer" style="color:white;"> <a href="#"></a>print</td>
        </tr>
        <tr>
          <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
          <td><span class="surname">Option 02</span><br>Straight to summary</td>
          <td>St Alban's Crown Court</td>
          <td class="todo"><a href="check-your-answers-risk-incomplete.html?missing=No">Start</a></td>
          <td class="todo"><a href="health_01">Start</a></td>
          <td class="todo"><a href="offences">Start</td>
            <td class="print change-answer"> <a href="#"></a></td>
          </tr>
          <tr>
            <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
            <td><span class="surname">Option 03</span><br>Straight to summary.<br> Summary shows missing only.</td>
            <td>St Alban's Crown Court</td>
            <td class="todo"><a href="check-your-answers-risk-incomplete.html?missing=Yes">Start</a></td>
            <td class="todo"><a href="health_01">Start</a></td>
            <td class="todo"><a href="offences">Start</td>
              <td class="print change-answer"> <a href="#"></a></td>
            </tr>
            <tr>
              <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
              <td><span class="surname">Option 04</span><br>Straight to first missing question.<br>Questions screens show unanswered questions only.<br>Summary shows missing only.</td>
              <td>St Alban's Crown Court</td>
              <td class="todo"><a href="risk_01_missing.html?missing=Yes&hideAnswered=Yes">Start</a></td>
              <td class="todo"><a href="health_01">Start</a></td>
              <td class="todo"><a href="offences">Start</td>
                <td class="print change-answer"> <a href="#"></a></td>
              </tr>
              <tr>
                <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
                <td><span class="surname">Option 04</span><br>Straight to first missing question.<br>Questions screens show all questions.<br>Summary shows all.</td>
                <td>St Alban's Crown Court</td>
                <td class="todo"><a href="risk_01_missing.html?missing=No&hideAnswered=No">Start</a></td>
                <td class="todo"><a href="health_01">Start</a></td>
                <td class="todo"><a href="offences">Start</td>
                  <td class="print change-answer"> <a href="#"></a></td>
                </tr>

          </tbody>
        </table>

      </main>

      {% endblock %}
