{% extends "layout.html" %}

{% block page_title %}
Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div>
<img src="public/images/Home_top_dummy.jpg" alt="" />
  </div>

  <!-- <h1 class="heading-large">
    Scheduled PERs
  </h1> -->
<hr style="margin-top:0">
  <table class="">
    <thead>
      <tr>
        <th>
          Prison no
        </th>
        <th>
          Name
        </th>
        <th>
          Destination
        </th>
        <th>
          Risk
        </th>
        <th>
          Health
        </th>
        <th>
          Offences
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
        <td><span class="surname">Barker</span> Ronnie</td>
        <td>St Alban's Crown Court</td>
        <td class="todo"><a href="risk_01.html">Start</a></td>
        <td class="todo"><a href="health_01">Start</a></td>
        <td class="done"><a href="#">Completed</a></td>
        <td class="print change-answer"> <a href="#"></a></td>
      </tr>
      <tr>
        <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
        <td><span class="surname">Barker</span> Ronnie</td>
        <td>St Alban's Crown Court</td>
        <td class="review"><a href="check-your-answers-risk-review.html">Review</a></td>
        <td class="review"><a href="check-your-answers-health-review.html">Review</a></td>
        <td class="done"><a href="#">Completed</a></td>
        <td class="print change-answer"> <a href="#"></a></td>
      </tr>
      <tr>
        <td class="prisonnumber"><a href="profile_done.html">A1234AB</a></td>
        <td><span class="surname">Barker</span> Ronnie</td>
        <td>St Alban's Crown Court</td>
        <td class="review"><a href="check-your-answers-risk-check.html">Confirm</a></td>
        <td class="done"><a href="check-your-answers-health-done.html">Completed</a></td>
        <td class="done"><a href="#">Completed</a></td>
        <td class="print change-answer"> <a href="profile_done.html"></a></td>
      </tr>
      <tr>
        <td class="prisonnumber"><a href="profile_done.html">A1234AB</a></td>
        <td><span class="surname">Barker</span> Ronnie</td>
        <td>St Alban's Crown Court</td>
        <td class="done"><a href="check-your-answers-risk-done.html">Completed</a></td>
        <td class="done"><a href="check-your-answers-health-done.html">Completed</a></td>
        <td class="done"><a href="#">Completed</a></td>
        <td class="print change-answer"> <a href="profile_done.html">Print</a></td>
      </tr>
      <tr>
        <td class="prisonnumber"><a href="profile_done.html">A1234AB</a></td>
        <td><span class="surname">Barker</span> Ronnie</td>
        <td>St Alban's Crown Court</td>
        <td colspan="4">
          <span class="issued">Issued</span>
        </td>
      </tr>
      <tr>
        <td>A1234AB</td>
        <td><span class="surname">Barker</span> Ronnie</td>
        <td>St Alban's Crown Court</td>
        <td colspan="4">
          <span class="cancelled">Cancelled</span> by: Joe Bloggs. Changed to video link.
        </td>
      </tr>
    </tbody>
  </table>

</main>

{% endblock %}
