{% extends "layout.html" %}

{% block page_title %}
Check your answers
{% endblock %}

{% block content %}
<style media="screen">
.disabled{
  color: grey !important;
  text-decoration: none;
}
.disabled a {
  /*color: grey !important;
  text-decoration: none;*/
}
table th {
  font-size: 19px;
}
</style>
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div>
    <img src="public/images/Home_top_dummy.jpg" alt="" />
  </div>

  <!-- <h1 class="heading-large">
  Scheduled PERs
</h1> -->
<hr style="margin-top:0">
<table class="">
  <thead>
    <tr>
      <th>
        Prison no
      </th>
      <th>
        Name
      </th>
      <th>
        Destination
      </th>
      <th>
        Risk
      </th>
      <th>
        Health
      </th>
      <th>
        Offences
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <!-- Prison user !-->
  <tbody>
    <tr>
      <td colspan="7" style=""><em>If logged in as 'Prison staff' user will see:</em></td>
    </tr>
    <tr>
      <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
      <td><span class="surname">Not started first MPS PER</span></td>
      <td>St Alban's Crown Court</td>
      <td class="todo"><a href="check-your-answers-risk-incomplete.html">Start</a></td>
      <td class="todo disabled">To start</td>
      <td class="todo"><a href="offences.html">Start</a></td>
      <td class="print change-answer"> <a href="#"></a></td>
    </tr>
    <tr>
      <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
      <td><span class="surname">Incomplete</span></td>
      <td>St Alban's Crown Court</td>
      <td class="review"><a href="check-your-answers-risk-incomplete.html">Review</a></td>
      <td class="disabled"><a href="check-your-answers-health-read-only.html">View</a></td>
      <td class="todo"><a href="offences.html">Start</a></td>
      <td class="print change-answer"> <a href="#"></a></td>
    </tr>
    <tr>
      <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
      <td><span class="surname">Not confirmed or reuse</span></td>
      <td>St Alban's Crown Court</td>
      <td class="review"><a href="check-your-answers-risk-review.html">Review</a></td>
      <td class="disabled"><a href="check-your-answers-health-read-only.html">View</a></td>
      <td class="review"><a href="offences.html">Review</a></td>
      <td class="print change-answer"> <a href="#"></a></td>
    </tr>
    <tr>
      <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
      <td><span class="surname">Confirmed</span> </td>
      <td>St Alban's Crown Court</td>
      <td class="done"><a href="check-your-answers-risk-done.html">Done</a></td>
      <td class="done"><a href="check-your-answers-health-done.html">Done</a></td>
      <td class="done"><a href="#">Done</a></td>
      <td class="print change-answer"> <a href="profile.html">Print</a></td>
    </tr>
    <tr>
      <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
      <td><span class="surname">Issued</span></td>
      <td>St Alban's Crown Court</td>
      <td colspan="4">
        <span class="issued">Printed</span>
      </td>
    </tr>
    <tr>
      <td>A1234AB</td>
      <td><span class="surname">Cancelled</span></td>
      <td>St Alban's Crown Court</td>
      <td colspan="4">
        <span class="cancelled">Cancelled</span> by: Joe Bloggs. Changed to video link.
      </td>
    </tr>
  </tbody>
  <!-- Healthcare user !-->
  <tbody>
    <tr>
      <td colspan="7" style=""><em>If logged in as 'Healthcare staff' user will see:</em></td>
    </tr>
    <tr>
      <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
      <td><span class="surname">Not started first MPS PER</span></td>
      <td>St Alban's Crown Court</td>
      <td class="todo disabled">To start</td>
      <td class="todo"><a href="health_01.html">Start</a></td>
      <td class="todo disabled">To start</td>
      <td class="print change-answer"> <a href="#"></a></td>
    </tr>
    <tr>
      <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
      <td><span class="surname">Incomplete</span></td>
      <td>St Alban's Crown Court</td>
      <td class="disabled"><a href="check-your-answers-risk-review.html">View</a></td>
      <td class="review"><a href="check-your-answers-health-review.html">Review</a></td>
      <td class="disabled"><a href="#">View</a></td>
      <td class="print change-answer"> <a href="#"></a></td>
    </tr>
    <tr>
      <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
      <td><span class="surname">Not confirmed or reuse</span></td>
      <td>St Alban's Crown Court</td>
      <td class="disabled"><a href="check-your-answers-risk-review.html">View</a></td>
      <td class="review"><a href="check-your-answers-health-review.html">Review</a></td>
      <td class="disabled"><a href="#">View</a></td>
      <td class="print change-answer"> <a href="#"></a></td>
    </tr>
    <tr>
      <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
      <td><span class="surname">Confirmed</span> </td>
      <td>St Alban's Crown Court</td>
      <td class="done"><a href="check-your-answers-risk-done.html">Done</a></td>
      <td class="done"><a href="check-your-answers-health-done.html">Done</a></td>
      <td class="done"><a href="#">Done</a></td>
      <td class="print change-answer"> <a href="profile.html">Print</a></td>
    </tr>
    <tr>
      <td class="prisonnumber"><a href="profile.html">A1234AB</a></td>
      <td><span class="surname">Issued</span></td>
      <td>St Alban's Crown Court</td>
      <td colspan="4">
        <span class="issued">Printed</span>
      </td>
    </tr>
    <tr>
      <td>A1234AB</td>
      <td><span class="surname">Cancelled</span></td>
      <td>St Alban's Crown Court</td>
      <td colspan="4">
        <span class="cancelled">Cancelled</span> by: Joe Bloggs. Changed to video link.
      </td>
    </tr>
  </tbody>
</table>

</main>

{% endblock %}
