{% extends "layout.html" %}

{% block page_title %}
Dashboard police
{% endblock %}

{% block content %}
<script type="text/javascript">
window.addEventListener("load", myFunction);
function myFunction() {
  dataDump({{ data | dump | safe}});
}
</script>

<style media="screen">
.column-data{
  position: relative;
  left:66px;
  display: inline-block;
  min-width: 128px !important;
}
.col-width {
  width: 115px;
}
.col-width-print {
  width: 10px;
}
.button-start{
  /*float: right;*/
}
.red{
  color: #B10E1E;
}
.green{
  color:#00823B;
}
.disabled{
  color: #6F777B !important;
  text-decoration: none;
}
.disabled a {
  color: #6F777B !important;
  text-decoration: none;
}
th{
  font-size: 16px !important;
  font-weight: bold !important;*/
}
.newpanel {
  border-top: solid 3px #0B0C0C;
  border-bottom: solid 3px #0B0C0C;
  padding: 15px 10px 100px 0px;
  margin-bottom: 5px;
  margin-top: 10px;
  background-color: white;
}
.xsmall{
  padding-bottom: 5px !important;
}
</style>

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <h1 class="heading-xlarge" style="margin:30px 0px 0px 0px"><span class="heading-secondary">PERs from</span>{{data.from}}&nbsp;&nbsp;
    <a class="button button-start" href="search" role="button" >Start a PER</a></h1>

    <a class="button" href="/wheredoyouwork" role="button" style="background-color:#dee0e2; color:#0b0c0c; margin: 5px 0px 30px; font-size:16px">Change location</a>

    <div class="newpanel">
      <div class="">
        <span class="heading-secondary" style="">Moves due on</span>
      </div>
      <div class="data column-one-quarter" style="margin-left:-15px !important;">

        <span id="date" class="data-item bold-large" value="{{data.dateoftravel}}">{{data.dateoftravel}}</span>
        <a class="button" href="/changedate" role="button" style="background-color:#dee0e2; color:#0b0c0c; margin-top:5px; font-size:16px">Change date</a></h1>
      </div>
      <div class="data column-one-quarter">
        <span class="data-item bold-large">0</span>
        <span class="data-item ">Total persons<br>due to move</span>
        <!-- <span class="data-item small">due to move</span> -->
        <!-- <span class="data-item small">Total persons<br>due to move</span> -->
        <!-- </div>
        <div class="data column-data">
        <span class="data-item bold-large red">2</span>
        <span class="data-item xsmall red">Risk<br>incomplete</span>
      </div>
      <div class="data column-data">
      <span class="data-item bold-large red">2</span>
      <span class="data-item xsmall red">Health<br>incomplete</span>
    </div>
    <div class="data column-data">
    <span class="data-item bold-large red">2</span>
    <span class="data-item xsmall red">Offences<br>incomplete</span>
  </div> -->
</div>
</div>

</main>

{% endblock %}
