{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}
<script type="text/javascript">
.form-control{
  width: 50% !important;
}

</script>
<main id="content">

  <h1 class="heading-large">
    Personal details</h1>
    <div class="form-group">
      <img src="/public/images/ronnie.jpg" alt="" style="width:128px; height:auto"/>
    </div>
    <div class="form-group">
      <label class="form-label-bold">Prisoner number</label>A1234AB
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="datedummy">
        Surname
      </label>
      <input class="form-control" id="datedummy" type="text" name="datedummy" value="Barker">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="datedummy">
        First name(s)
      </label>
      <input class="form-control" id="datedummy" type="text" name="datedummy" value="Ronnie">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="datedummy">
        Date of birth
        <p class="form-hint">
          DD/MM/YYYY
        </p>
      </label>
      <input class="form-control" id="datedummy" type="text" name="datedummy" value="11/09/74">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="datedummy">
        Nationalities
      </label>
      <input class="form-control" id="datedummy" type="text" name="datedummy" value="English">
    </div>
    <!-- question -->
    <h2 class="form-label-bold">
      Gender
    </h2>
    <div class="form-group">
      <fieldset class="inline">

        <legend class="visually-hidden"></legend>

        <div class="multiple-choice">
          <input id="radio-inline-211" type="radio" name="gender" value="Yes" checked="checked">
          <label class="selection-button-radio" for="radio-inline-211">
            Male
          </label>
        </div>
        <div class="multiple-choice">
          <input id="radio-inline-221" type="radio" name="gender" value="No">
          <label class="selection-button-radio" for="radio-inline-221">Female</label>
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="datedummy">
        Ethnicity
      </label>
      <input class="form-control" id="datedummy" type="text" name="datedummy" value="">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="datedummy">
        Religion
      </label>
      <input class="form-control" id="datedummy" type="text" name="datedummy" value="">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="datedummy">
        PNC number
      </label>
      <input class="form-control" id="datedummy" type="text" name="datedummy" value="">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="datedummy">
        CRO number
      </label>
      <input class="form-control" id="datedummy" type="text" name="datedummy" value="">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="datedummy">
        Aliases
      </label>
      <input class="form-control" id="datedummy" type="text-area" name="datedummy" value="">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="datedummy">
        Category
      </label>
      <input class="form-control" id="datedummy" type="text-area" name="datedummy" value="">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="datedummy">
        Preferred language
      </label>
      <input class="form-control" id="datedummy" type="text-area" name="datedummy" value="">
    </div>
    <div class="form-group">
      <fieldset class="inline">
        <legend>
          <label class="form-label-bold">
            Do they require an interpreter?
          </label>
        </legend>
        <div class="multiple-choice">
          <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
          <label for="radio-inline-1">Yes</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
          <label for="radio-inline-2">No</label>
        </div>

      </fieldset>
    </div>

    <div class="form-group">
      <fieldset class="inline">
        <label class="form-label-bold">
          Do they have a Personal Emergency Evacuation Plan?
        </label>
        <legend class="visually-hidden"></legend>
        <div class="multiple-choice" data-target="peep-info">
          <input id="radio-inline-17" type="radio" name="peep" value="Yes">
          <label for="radio-inline-17">Yes</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-inline-18" type="radio" name="peep" value="No" >
          <label for="radio-inline-18">No</label>
        </div>
      </fieldset>
    </div>

    <div class="panel panel-border-narrow js-hidden" id="peep-info">
      <div class="form-group">
        <label class="form-label" for="textarea-b">
          Give details
        </label>
        <textarea class="form-control form-control-3-4" id="textarea-b" cols="30" rows="3" name="peep_info">{{data['vulnerable_info']}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="datedummy">
        Dietary requirements
      </label>
      <input class="form-control" id="datedummy" type="text-area" name="datedummy" value="">
    </div>
  </div>
  <div class="form-group">
    <a class="button" href="move.html" role="button" >Save and continue</a>
    <!-- <input class="button" type="submit" value="Continue"> -->
  </div>
</main>

{% endblock %}
