{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb_health.html" %}

  <div class="grid-row">
    <div class="column-full">
      <p><a href="health_07.html">Back</a>&emsp;7  of 8&emsp;<a href="health_09.html">Skip</a></p>
    </div>
    <div class="column-two-thirds">

      <form action="health_09" method="get" class="form">

        <h1 class="heading-secondary">
          Personal care
        </h1>

        <!-- question -->
        <h2 class="heading-medium">
          Will they need help with personal tasks when they leave police custody?
        </h2>
        <p class="form-hint">
          For example, going to the toilet, eating or drinking
        </p>
        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="personalcare_info">
              <input id="radio-inline-1" type="radio" name="personalcare" value="Yes" {{ checked("personalcare", "Yes") }}>
              <label for="radio-inline-1">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="personalcare" value="No" {{ checked("personalcare", "No") }} onclick="clearDetails('textarea-b');">
              <label for="radio-inline-2">No</label>
            </div>



          </fieldset>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="personalcare_info">
          <div class="form-group">
            <label class="form-label" for="textarea-b">
              Give details:
            </label>
            <textarea class="form-control" id="textarea-b" cols="30" rows="3" name="personalcare_info">{{data['personalcare_info']}}</textarea>
          </div>
        </div>


        <!-- button -->
        <div class="form-group">
          {% include "includes/health-screen-buttons.html" %}
        </div>
      </form>

    </div>
    <div class="side-profile column-one-third">
      {% include "includes/side-profile.html" %};
    </div>
  </div>
</main>

{% endblock %}
