{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb_health.html" %}

  <div class="grid-row">
    <div class="column-full">
      <p><a href="health_06.html">Back</a>&emsp;6 of 8&emsp;<a href="health_08.html">Skip</a></p>
    </div>
    <div class="column-two-thirds">

      <form action="health_08" method="get" class="form">

        <h1 class="heading-secondary">
          Allergies and intolerances
        </h1>

        <!-- question -->
        <h2 class="heading-medium">
          Do they have any known allergies or intolerances?
        </h2>
        <p>
          For example, dietary, medical or environmental allergies
        </p>
        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="allergies_info">
              <input id="radio-inline-1" type="radio" name="allergies" value="Yes" {{ checked("allergies", "Yes") }}>
              <label for="radio-inline-1">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="allergies" value="No" {{ checked("allergies", "No") }} onclick="clearDetails('textarea-b');">
              <label for="radio-inline-2">No</label>
            </div>

          </fieldset>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="allergies_info">
          <div class="form-group">
            <label class="form-label" for="textarea-b">
              Give details:
            </label>
            <textarea class="form-control" id="textarea-b" cols="30" rows="3" name="allergies_info">{{data['allergies_info']}}</textarea>
          </div>
        </div>


        <!-- button -->
        <div class="form-group">
          {% include "includes/health-screen-buttons.html" %}
        </div>
      </form>

    </div>
    <div class="side-profile column-one-third">
      {% include "includes/side-profile.html" %};
    </div>
  </div>
</main>

{% endblock %}
