{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb_health.html" %}

  <div class="grid-row">
    <div class="column-full">
      <p><a href="health_04.html">Back</a>&emsp;4 of 8&emsp;<a href="health_06.html">Skip</a></p>
    </div>
    <div class="column-two-thirds">

      <form action="health_06" method="post" class="form">

        <h1 class="heading-secondary">
          Essential medication
        </h1>

        <!-- question -->
        <h2 class="heading-medium">
          Will they need to be given medication during this journey?
        </h2>
        <p>
          This is any regular medication that will need to be administered while they are out of prison.
          Full medication history can be given in a sealed envelope to be opened by a healthcare professional in case of an emergency.
        </p>

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="medicine_info">
              <input id="radio-inline-1" type="radio" name="medicine" value="Yes" {{ checked("medicine", "Yes") }}>
              <label for="radio-inline-1">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="medicine" value="No" {{ checked("medicine", "No") }}>
              <label for="radio-inline-2">No</label>
            </div>

          </fieldset>
        </div>

        <div class="js-hidden" id="medicine_info">
          <div>
            <h2 class="heading-medium">
              Medicine
            </h2>
            <div class="form-group">
              <label class="form-label" for="medicine-name">Medicine name</label>
              <input class="form-control" id="medicine-name" name="medicine_name" type="text" value="{{ data['medicine_name'] }}">
            </div>
            <div class="form-group">
              <label class="form-label" for="howgiven">How is it given?</label>
              <input class="form-control" id="howgiven" name="medicine_howgiven" type="text" value="{{ data['medicine_howgiven'] }}">
            </div>
            <div class="form-group">
              <label class="form-label" for="dosage">Dosage</label>
              <input class="form-control" id="dosage" name="medicine_dosage" type="text" value="{{ data['medicine_dosage'] }}">
            </div>
            <div class="form-group">
              <label class="form-label" for="dosagefrequency">When is it given?</label>
              <input class="form-control" id="dosagefrequency" name="medicine_dosagefrequency" type="text" value="{{ data['medicine_dosagefrequency'] }}">
            </div>
            <p>
              Who will carry the medicine?
            </p>
            <fieldset class="inline">

              <div class="multiple-choice">
                <input id="radio-inline-1" type="radio" name="medicine_carriedby" value="Escort" {{ checked("medicine_carriedby", "Escort") }}>
                <label for="radio-inline-1">Escort</label>
              </div>

              <div class="multiple-choice">
                <input id="radio-inline-2" type="radio" name="medicine_carriedby" value="Prisoner" {{ checked("medicine_carriedby", "Prisoner") }}>
                <label for="radio-inline-2">Prisoner</label>
              </div>



            </fieldset>
            <hr>
            <input class="button button-add-another-vertical" type="" value="Add another medicine">
          </div>
        </div>


        <!-- button -->
        <div class="form-group">
          {% include "includes/health-screen-buttons.html" %}
        </div>
      </form>

    </div>
    <div class="column-one-third side-profile">
      <h1><span class="namebold"> <a href="/profile.html"> A1234AB</a><br/>BARKER</span> RONNIE</h1>
      <img src="/public/images/ronnie.jpg"/>
      <p class="font-xsmall info-start">Date of travel</p>
      <h2>13 Apr 2017</h2>
      <p class="font-xsmall">From</p>
      <h2>HMP Bedford</h2>
      <p class="font-xsmall">To</p>
      <h2>St Albans Crown Court</h2>
    </div>
  </div>
</main>

{% endblock %}
