{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb_health.html" %}

  <div class="grid-row">
    <div class="column-full">
      <p><a href="health_02.html">Back</a>&emsp;2 of 7&emsp;<a href="health_05.html">Skip</a></p>
    </div>
    <div class="column-two-thirds">

      <form action="health_05" method="post" class="form">

        <h1 class="heading-secondary">
          Mental health issues
        </h1>

        <!-- question -->
        <h2 class="heading-medium">
          Do they have mental health needs that might affect them when they leave police custody?
        </h2>
        <p class="form-hint">
          In the arrest record, check the risk assessment, pre-release assessment and care plan for relevant comments.
        </p>
        <p class="form-hint">For example, if they become anxious in certain situations.</p>

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="mental_health_info">
              <input id="radio-inline-1" type="radio" name="mental_health" value="Yes" {{ checked("mental_health", "Yes") }}>
              <label for="radio-inline-1">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="mental_health" value="No" {{ checked("mental_health", "No") }} onclick="clearDetails('textarea-b');">
              <label for="radio-inline-2">No</label>
            </div>

          </fieldset>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="mental_health_info">
          <div class="form-group">
            <label class="form-label" for="textarea-b">
              Please explain how these issues might affect the journey and how they should be managed. Do not give details of medical conditions:
            </label>
            <textarea class="form-control" id="textarea-b" cols="30" rows="3" name="mental_health_info">{{data['mental_health_info']}}</textarea>
          </div>
        </div>


        <!-- button -->
        <div class="form-group">
          {% include "includes/health-screen-buttons.html" %}
        </div>
      </form>
    </div>
    <div class="side-profile column-one-third">
      {% include "includes/side-profile.html" %};
    </div>
  </div>
</main>

{% endblock %}
