{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb_health.html" %}

  <div class="grid-row">
    <div class="column-full">
      <p><a href="health_05.html">Back</a>&emsp;5 of 7&emsp;<a href="health_07.html">Skip</a></p>
    </div>
    <div class="column-two-thirds">

      <form action="health_07" method="get" class="form">

        <h1 class="heading-secondary">
          Dependencies
        </h1>

        <!-- question -->
        <h2 class="heading-medium">
          Do they have any addictions or dependencies that might affect them when they leave police custody?
        </h2>
        <p class="form-hint">
          In the arrest record, check the pre-release assessment and detainee section for relevant comments.
        </p>

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="dependencies_info">
              <input id="radio-inline-1" type="radio" name="dependencies" value="Yes" {{ checked("dependencies", "Yes") }}>
              <label for="radio-inline-1">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="dependencies" value="No" {{ checked("dependencies", "No") }} onclick="clearDetails('textarea-b');">
              <label for="radio-inline-2">No</label>
            </div>

          </fieldset>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="dependencies_info">
          <div class="form-group">
            <label class="form-label" for="textarea-b">
              Give details:
            </label>
            <textarea class="form-control" id="textarea-b" cols="30" rows="3" name="dependencies_info">{{data['dependencies_info']}}</textarea>
          </div>
        </div>


        <!-- button -->
        <div class="form-group">
          {% include "includes/health-screen-buttons.html" %}
        </div>
      </form>

    </div>
    <div class="side-profile column-one-third">
      {% include "includes/side-profile.html" %};
    </div>
  </div>
</main>

{% endblock %}
