{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb_health.html" %}

  <div class="grid-row">
    <div class="column-full">
      <p><a href="health_08.html">Back</a>&emsp;8  of 8&emsp;</p>
    </div>
    <div class="column-two-thirds">

      <form action="check-your-answers-health-incomplete" method="get" class="form">

        <h1 class="heading-secondary">
          Custody suite contact details
        </h1>
        <!-- question -->
        <h2 class="heading-medium">
          Custody suite contact details
        </h2>
          <div class="form-group">
            <fieldset>

              <label class="form-label" for="contact_details">Enter the contact number for this custody suite:</label>

              <input class="form-control" id="contact_details" name="contact_details" type="text" value="{{ data['contact_details'] }}">
              <!-- placeholder="01234 373 138" -->
            </div>


            <!-- button -->
            <div class="form-group">
              {% include "includes/health-screen-buttons.html" %}
            </div>
          </form>

        </div>
        <div class="column-one-third side-profile">
          <h1><span class="namebold"> <a href="/profile.html"> A1234AB</a><br/>BARKER</span> RONNIE</h1>
          <img src="/public/images/ronnie.jpg"/>
          <p class="font-xsmall info-start">Date of travel</p>
          <h2>13 Apr 2017</h2>
          <p class="font-xsmall">From</p>
          <h2>HMP Bedford</h2>
          <p class="font-xsmall">To</p>
          <h2>St Albans Crown Court</h2>
        </div>
      </div>
    </main>

    {% endblock %}
