{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb_health.html" %}

  <div class="grid-row">
    <div class="column-full">
      <p>1 of 8&emsp;<a href="health_03.html">Skip</a></p>
    </div>
    <div class="column-two-thirds">

      <form action="health_03" method="post" class="form">
        <h1 class="heading-secondary">
          Physical health issues
        </h1>

        <!-- question -->
        <h2 class="heading-medium">
          Are they pregnant?
        </h2>
        <p class="form-hint">
          In the arrest record, check the risk assessment, pre-release assessment and care plan for relevant comments.
        </p>

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="pregnant_info">
              <input id="radio-inline-1" type="radio" name="pregnant" value="Yes" {{ checked("pregnant", "Yes") }}>
              <label for="radio-inline-1">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="pregnant" value="No" {{ checked("pregnant", "No") }} onclick="clearDetails('textarea-a');">
              <label for="radio-inline-2">No</label>
            </div>

          </fieldset>
        </div>

        <!-- conditionals -->
        <div class="panel panel-border-narrow js-hidden" id="pregnant_info">
          <!-- Give details -->
          <div class="form-group">
            <fieldset>
              <legend class="visuallyhidden"></legend>
              <label class="form-label" for="textarea-a">
                Give details:
              </label>
              <textarea class="form-control" id="textarea-a" cols="30" rows="3" name="pregnant_info">{{data['pregnant_info']}}</textarea>
            </div>
          </fieldset>
        </div>


        <!-- question -->
        <h2 class="heading-medium">
          Do they have any physical health needs that might affect them when they leave police custody?
        </h2>
        <p class="form-hint">
          In the arrest record, check the risk assessment, pre-release assessment and care plan for relevant comments.
        </p>
        <p class="form-hint">
          For example, issues that mean they:
          <ul class="list list-bullet form-hint">
            <li>Can’t be handcuffed </li>
            <li>Can’t travel in a standard van cell</li>
            <li>Can’t sit for long periods of time</li>
<li>Might need treatment for an illness or infection</li>
          </ul>
          <div class="form-group">
            <fieldset class="inline">

              <legend class="visually-hidden"></legend>

              <div class="multiple-choice" data-target="physical_health_info">
                <input id="radio-inline-3" type="radio" name="physical_health" value="Yes" {{ checked("physical_health", "Yes") }}>
                <label for="radio-inline-3">Yes</label>
              </div>

              <div class="multiple-choice">
                <input id="radio-inline-4" type="radio" name="physical_health" value="No" {{ checked("physical_health", "No") }} onclick="clearDetails('textarea-b');">
                <label for="radio-inline-4">No</label>
              </div>

            </fieldset>
          </div>

          <!-- conditionals -->
          <div class="panel panel-border-narrow js-hidden" id="physical_health_info">
            <!-- Give details -->
            <div class="form-group">
              <fieldset>
                <legend class="visuallyhidden"></legend>
                <label class="form-label" for="textarea-b">
                  Give details:
                </label>
                <textarea class="form-control" id="textarea-b" cols="30" rows="3" name="physical_health_info">{{data['physical_health_info']}}</textarea>
              </div>
            </fieldset>
          </div>

          <!-- button -->
          <div class="form-group">
            {% include "includes/health-screen-buttons.html" %}
          </div>
        </form>

      </div>
      <div class="side-profile column-one-third">
        {% include "includes/side-profile.html" %};
      </div>
    </div>
  </main>

  {% endblock %}
