{% extends "layout.html" %}

{% block page_title %}
Index MPS
{% endblock %}

{% block content %}
<main role="main" id="content" lang="en">

  {% include "includes/phase_banner_alpha.html" %}

  <!-- Page title and contact -->
  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Guide to using this service
      </h1>
    </div>
  </div>

  <div class="grid-row" data-module="highlight-active-section-heading">
    <div class="column-third" style="position: sticky; top:0;">

      <!--  Page contents -->
      <div class="" >&nbsp;
        <div class="" style="width: 269px;">
          <h2 class="">Page contents:</h2>
          <ul class="">
            <li><a href="#overview" class="">Service overview</a></li>
            <li><a href="#start" class="">Create a PER</a></li>
            <li><a href="#risk" class="">Complete the risk section</a></li>
            <li><a href="#health" class="">Complete the health section</a></li>
            <!-- Print_a_PER.mp4 -->
            <li><a href="#print" class="">Print a PER</a></li>
            <li><a href="#reprint" class="">Reprint a PER</a></li>
            <li><a href="#cancel" class="">Cancel a PER</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="column-two-thirds">

      <div class="govspeak-wrapper">
        <div class="govuk-govspeak ">
          <h2 id="overview" class="heading-medium">Service overview</h2>
          <p>An overview of what this service does</p>
          <video width="100%" height="auto" controls>
            <source src="/public/images/PER_overview.mp4" type="video/mp4">
              <!-- <source src="movie.ogg" type="video/ogg"> -->
              Your browser does not support the video tag.
            </video>
          </div>
        </div>

        <div class="govspeak-wrapper">
          <div class="govuk-govspeak ">
            <h2 id="start" class="heading-medium">Create a PER</h2>
            <ul class="list list-bullet">
              <li>Start a PER</li>
              <li>Complete prisoner details</li>
              <li>Enter destination and date of move</li>
              <li>Confirm offences</li>
            </ul>
            <video width="100%" height="auto" controls>
              <source src="/public/images/Create_a_PER.mp4" type="video/mp4">
                <!-- <source src="movie.ogg" type="video/ogg"> -->
                Your browser does not support the video tag.
              </video>
            </div>
          </div>

          <div class="govspeak-wrapper">
            <div class="govuk-govspeak ">
              <h2 id="risk" class="heading-medium">Complete the risk section</h2>
              <video width="100%" height="auto" controls>
                <source src="/public/images/Risk.mp4" type="video/mp4">
                  <!-- <source src="movie.ogg" type="video/ogg"> -->
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>

            <div class="govspeak-wrapper">
              <div class="govuk-govspeak">
                <h2 id="health" class="heading-medium">Complete the health section</h2>
                <video width="100%" height="auto" controls>
                  <source src="/public/images/Healthcare.mp4" type="video/mp4">
                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                    Your browser does not support the video tag.
                  </video>
                </div>
              </div>

              <div class="govspeak-wrapper">
                <div class="govuk-govspeak">
                  <h2 id="print" class="heading-medium">Print a PER</h2>
                  <video width="100%" height="auto" controls>
                    <source src="/public/images/Print_a_PER.mp4" type="video/mp4">
                      <!-- <source src="movie.ogg" type="video/ogg"> -->
                      Your browser does not support the video tag.
                    </video>
                  </div>
                </div>

                <div class="govspeak-wrapper">
                  <div class="govuk-govspeak">
                    <h2 id="reprint" class="heading-medium">Reprint a PER</h2>
                    <video width="100%" height="auto" controls>
                      <source src="/public/images/Reprint_a_PER.mp4" type="video/mp4">
                        <!-- <source src="movie.ogg" type="video/ogg"> -->
                        Your browser does not support the video tag.
                      </video>
                    </div>
                  </div>

                  <div class="govspeak-wrapper">
                    <div class="govuk-govspeak">
                      <h2 id="cancel" class="heading-medium">Cancel a PER</h2>
                      <video width="100%" height="auto" controls>
                        <source src="/public/images/Cancel_a_PER.mp4" type="video/mp4">
                          <!-- <source src="movie.ogg" type="video/ogg"> -->
                          Your browser does not support the video tag.
                        </video>
                      </div>
                    </div>

                </div>

              </div>

            </main>

            {% endblock %}
