{% extends "layout.html" %}

{% block page_title %}
Index MPS
{% endblock %}

{% block content %}
<main role="main" id="content" lang="en">

  {% include "includes/phase_banner_alpha.html" %}

  <!-- Page title and contact -->
  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        ePER video guides
      </h1>
      <p>
        These short video guides show you how to complete different sections of the ePER.
      </p>
    </div>
  </div>

  <div class="grid-row" data-module="highlight-active-section-heading">
    <div class="column-third" style="position: sticky; top:0;">

      <!--  Page contents -->
      <div class="" >&nbsp;
        <div class="" style="width: 269px;">
          <h2 class="">Page contents:</h2>
          <ul class="">
            <li><a href="#overview" class="">Introducing the ePER</a></li>
            <li><a href="#start" class="">Create an ePER</a></li>
            <li><a href="#risk" class="">Complete the risk section</a></li>
            <li><a href="#health" class="">Complete the health section</a></li>
            <!-- Print_a_PER.mp4 -->
            <li><a href="#print" class="">Print an ePER</a></li>
            <li><a href="#reprint" class="">Reprint an ePER</a></li>
            <li><a href="#cancel" class="">Cancel an ePER</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="column-two-thirds">
      <h2 id="overview" class="heading-medium">Introducing the ePER</h2>
      <h3 class="heading-small">What is the ePER?</h3>
      <p>The ePER is a part-digital version of the Person Escort Record. It is currently being piloted at a number of prisons in England.</p>
      <h3 class="heading-small">How is it different from the paper PER?</h3>
      <p>You complete the ePER on our online service, which:</p>
      <ul class="list list-bullet">
        <li>uses information from NOMIS to automatically complete some details</li>
        <li>remembers and reuses answers from previous PERs</li>
        <li>highlights important risk and healthcare information for escort staff</li>
      </ul>
      <h3 class="heading-small">What should it be used for?</h3>
      <p>The ePER should be used for all court journeys, inter-prison transfers and hospital journeys from your establishment.</p>
      <h3 class="heading-small">Is it all done online?</h3>
      <p>Not yet. The ePER replaces the first two pages of the paper PER (front cover and risk indicator).</p>
      <p>You'll complete the following sections on our online service:</p>
      <ul class="list list-bullet">
        <li>Prisoner details</li>
        <li>Move details</li>
        <li>Offences</li>
        <li>Risk</li>
        <li>Healthcare</li>
      </ul>
      <p>Once complete, you can print off the ePER and staple it to the 'Escort handover details' booklet.</p>
      <img src="/public/images/MPS_Blueprint.jpg" alt="" style="width:100%; margin-bottom:-15px"/>
      <p style="width:50%; display:inline-block; font-size:16px; vertical-align:top;">
        Step1:<br>Complete online
      </p>
      <p style="width:25%; display:inline-block; font-size:16px; vertical-align:top;">
        Step2:<br>Staple to Escort Handover Details
      </p>
      <p style="width:20%; display:inline-block; font-size:16px; vertical-align: top; float:right">
        Step3:<br>Use for court, hospital and IPTs
      </p>
      <!-- <div class="govspeak-wrapper">
      <div class="govuk-govspeak ">
      <h2 id="overview" class="heading-medium">ePER overview</h2>
      <video width="100%" height="auto" controls>
      <source src="/public/images/PER_overview.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <details>

  <summary><span class="summary">See all steps</span></summary>

  <div class="panel panel-border-narrow">

  <ol class="list list-number">
  <li>Enter a prisoner number and click the search icon.</li>
  <li>Click ‘Start new PER’.</li>
  <li>Complete and save the detainee information.</li>
  <li>Complete and save the move information.</li>
  <li>Complete and save the offences information.</li>
  <li>Complete and save the risk questions.</li>
  <li>Complete and save the healthcare questions.</li>
  <li>When all sections are complete, print the ePER.</li>
  <li>Staple the printed ePER to the Escort Handover Details.</li>
  <li>The ePER is now ready to use. </li>
</ol>

</div>

</details>

</div> -->


<div class="govspeak-wrapper">
  <div class="govuk-govspeak ">
    <h2 id="start" class="heading-medium">How to create an ePER</h2>
    <video width="100%" height="auto" controls>
      <source src="/public/images/Create_a_PER.mp4" type="video/mp4">
        <!-- <source src="movie.ogg" type="video/ogg"> -->
        Your browser does not support the video tag.
      </video>
    </div>

    <details>

      <summary><span class="summary">See all steps</span></summary>

      <div class="panel panel-border-narrow">

        <ol class="list list-number">

          <li>Enter a prisoner number and search.</li>
          <li>Click ‘Start new PER’.</li>
          <li>Check or complete the detainee information.</li>
          <li>Save your answers.</li>
          <li>Complete the move information.</li>
          <li>Save your answers.</li>
          <li>Scoll to the Offences section and click ‘Edit’.</li>
          <li>Check or complete the offences information. You can add more offences if you need to.</li>
          <li>Save your answers.</li>
          <li>The ePER is ready for Risk and Healthcare information to be added.</li>
          <li>Click ‘Return to home’ to go back to the dashboard.</li>
          <li>The new ePER has been added to the dashboard.</li>


        </ol>

      </div>

    </details>


  </div>

  <div class="govspeak-wrapper">
    <div class="govuk-govspeak ">
      <h2 id="risk" class="heading-medium">How to complete the risk section of the ePER</h2>
      <video width="100%" height="auto" controls>
        <source src="/public/images/Risk.mp4" type="video/mp4">
          <!-- <source src="movie.ogg" type="video/ogg"> -->
          Your browser does not support the video tag.
        </video>
      </div>

      <details>

        <summary><span class="summary">See all steps</span></summary>

        <div class="panel panel-border-narrow">

          <ol class="list list-number">

            <li>Click on the prisoner number.</li>
            <li>Scroll to the Risk section and click ‘Edit’.</li>
            <li>Answer the questions. Check NOMIS and intelligence sources for risk information.</li>
            <li>Click ‘Save and continue’ to see the next screen.</li>
            <li>On the summary screen, check your answers.</li>
            <li>Click ‘Change’ to go back to a question.</li>
            <li>Click ‘Save and view summary’ to go back to the summary screen.</li>
            <li>Click ‘Confirm and save’ to save your answers.</li>
            <li>The Risk section is now complete.</li>
            <li>Click ‘Return to home’ to go back to the dashboard.</li>
            <li>The dashboard shows that the Risk section is complete.</li>

          </ol>

        </div>

      </details>
    </div>

    <div class="govspeak-wrapper">
      <div class="govuk-govspeak">
        <h2 id="health" class="heading-medium">Complete the health section</h2>
        <video width="100%" height="auto" controls>
          <source src="/public/images/Healthcare.mp4" type="video/mp4">
            <!-- <source src="movie.ogg" type="video/ogg"> -->
            Your browser does not support the video tag.
          </video>
        </div>

        <details>

          <summary><span class="summary">See all steps</span></summary>

          <div class="panel panel-border-narrow">

            <ol class="list list-number">

              <li>Click on the prisoner number.</li>
              <li>Scroll to the Healthcare section and click ‘Edit’.</li>
              <li>Answer the questions.</li>
              <li>Click ‘Save and continue’ to go to the next screen.</li>
              <li>On the summary screen, check your answers.</li>
              <li>Click ‘Change’ to go back to a question.</li>
              <li>Click ‘Save and view summary’ to go back to the summary screen.</li>
              <li>Click ‘Confirm and save’ to save your answers.</li>
              <li>The Healthcare section is now complete.</li>
              <li>Click ‘Return to home’ to go back to the dashboard.</li>
              <li>The dashboard shows that the Healthcare section is complete. </li>

            </ol>

          </div>

        </details>

      </div>

      <div class="govspeak-wrapper">
        <div class="govuk-govspeak">
          <h2 id="print" class="heading-medium">How to print an ePER</h2>
          <video width="100%" height="auto" controls>
            <source src="/public/images/Print_a_PER.mp4" type="video/mp4">
              <!-- <source src="movie.ogg" type="video/ogg"> -->
              Your browser does not support the video tag.
            </video>
          </div>

          <details>

            <summary><span class="summary">See all steps</span></summary>

            <div class="panel panel-border-narrow">

              <ol class="list list-number">

                <li>Make sure the Risk, Health and Offences sections are complete.</li>
                <li>Click ‘Print’. This opens a preview of the ePER in a new window.</li>
                <li>Click the print icon in the top right-hand corner of the screen.
                  Click ‘Print’.</li>
                  <li>On the dashboard, the ePER status will change to ‘Issued’ when it has been printed. </li>


                </ol>

              </div>

            </details>

          </div>

          <div class="govspeak-wrapper">
            <div class="govuk-govspeak">
              <h2 id="reprint" class="heading-medium">How to reprint a PER</h2>
              <video width="100%" height="auto" controls>
                <source src="/public/images/Reprint_a_PER.mp4" type="video/mp4">
                  <!-- <source src="movie.ogg" type="video/ogg"> -->
                  Your browser does not support the video tag.
                </video>
              </div>

              <details>

                <summary><span class="summary">See all steps</span></summary>

                <div class="panel panel-border-narrow">

                  <ol class="list list-number">

                    <li>If an ePER is ‘Issued’, it has already been printed.</li>
                    <li>Click on the prisoner number.</li>
                    <li>Scroll to the bottom of the ePER.</li>
                    <li>Click ‘Reprint’</li>
                    <li>Click ‘Reprint this PER’. This opens a preview of the ePER in a new window.</li>
                    <li>Click the print icon in the top right-hand corner of the screen.</li>
                    <li>Click ‘Print’</li>

                  </ol>

                </div>

              </details>

            </div>

            <div class="govspeak-wrapper">
              <div class="govuk-govspeak">
                <h2 id="cancel" class="heading-medium">How to cancel a PER</h2>
                <video width="100%" height="auto" controls>
                  <source src="/public/images/Cancel_a_PER.mp4" type="video/mp4">
                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                    Your browser does not support the video tag.
                  </video>
                </div>
                <details>

                  <summary><span class="summary">See all steps</span></summary>

                  <div class="panel panel-border-narrow">

                    <ol class="list list-number">

                      <li>Click on the prisoner number.</li>
                      <li>Scroll to the bottom of the ePER</li>
                      <li>Click ‘Cancel PER’</li>
                      <li>Enter the reason for cancelling the PER</li>
                      <li>Click ‘Cancel this PER’</li>
                      <li>The PER is cancelled. The reason for the cancellation will be displayed on the dashboard. </li>


                    </ol>

                  </div>

                </details>
              </div>

            </div>

          </div>

        </main>

        {% endblock %}
