{% extends "layout.html" %}

{% block page_title %}
Index MPS
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Moving People Safely
      </h1>

      <h2 class="heading-medium">Version 2.0 iterations and vision and automation</h2>
      <p class="panel panel-border-wide">
        Prototype updated using new data function, which retains user entered info. To clear data, click on 'clear data' link in footer.
      </p>
&nbsp;

      <ul class="list list-bullet">
        <li><a href="/dashboard_receiver_court">Receiver Court - dashboard</a></li>
        <li><a href="/dashboard">Work in progess - version 2.0 prison dispatching dashboard</a></li>
        <li><a href="/index_homescreens">Work in progess - version 2.0 home screen plus flow for starting a PER</a></li>
        <li><a href="/risk_01">Risk Questions</a></li>
        <li><a href="/health_01">Healthcare Questions</a></li>
        <li><a href="/start-page">Sign in flow including court receiver: start > sign in > dashboard</a></li>
        <li><a href="/index_automation">Automation work in progress</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
