{% extends "layout.html" %}

{% block page_title %}
Index MPS
{% endblock %}

{% block content %}
<script src="" charset="utf-8">
window.addEventListener("load", myFunction);
function myFunction() {
  setData01();
}
</script>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Automation work in progress
      </h1>
      <h2 class="heading-medium">Different approaches to automation (link to static pages)</h2>
      <h2 class="heading-small">Cautious approach</h2>
      <p class="">
        Principle, we can only automate if there is no source that could inform the answer other than NOMIS alerts and the alert comments.
      </p>

      <ul class="list list-bullet">
        <li><a href="/check-your-answers-risk-auto-first-time">Generic</a><p class="form-hint">
          The generic link shows what data sources could have information that a user would reference when answering each question.
        </p></li>
        <li><a href="/check-your-answers-risk-auto-first-time-A3427EC">01 Example - A3427EC</a></li>
        <li><a href="/check-your-answers-risk-auto-first-time-A5473AN">02 Example - A5473AN</a></li>
        <li><a href="/check-your-answers-risk-auto-first-time-A5888CE">03 Example - A5888CE</a></li>
        <li><a href="/check-your-answers-risk-auto-first-time-A8662AH">04 Example - A8662AH</a></li>
        <li><a href="/check-your-answers-risk-auto-first-time-A9904CR">05 Example - A9904CR</a></li>
        <li><a href="/check-your-answers-risk-auto-first-time-A3319CH">06 Example - A3319CH</a></li>
      </ul>
      <p class="heading-small">
        Standard approach
        <p class="">
          Principle: at least as good as the average user. <br>From observing users completing PERs and analysising 23 PERs created using the live service, the hypothesis is that automation would result in PERs being completed to a standard at least as good as the average user.
        </p>
      </p>
      <ul class="list list-bullet">
        <li><a href="/check-your-answers-risk-auto-first-time-A3427EC-standard">07 Example - A3427EC-standard</a></li>
        <li><a href="/check-your-answers-risk-auto-first-time-A8662AH-standard">08 Example - A8662AH-standard</a></li>
      </ul>

      <h2 class="heading-medium">Dynamic examples of 'Standard approach'</h2>
      <p class="form-hint">
        The links below preset the app to a prisoner's answers simulating NOMIS automation of the risk section.
      </p>
      <ul class="list list-bullet">
        <li><a href="/dashboard_automation?selfharm=No&csra=Standard&rule45=No&vulnerable=No&controlledunlock=No&publicInterest=Yes&publicInterest_info=High Public Interest (1 Nov 2017)
          Drug supply Class A. Case summary obtained. Does not meet Cat A criteria. Not submitted.&intimidator_public=Yes&intimidator_public_info=Violent (1 Nov 2017) Robbery&intimidator_prisoners=No&gangs=No&violent_to_staff=No&risktofemales=No&homosexuals=No&racist=No&religions=No&violent_risk_to_othergroups=No&elist=No&escape_attempts=No&hostage_taker=No&sex_offender=No&arson=No">Preset to prisoner A3427EC</a></li>
          <li><a href="/dashboard_automation?selfharm=Yes&selfharm_info=Self Harm - Community (14 Jun 2017)Informed by OMU through PNC of self harm warnings&csra=Standard&rule45=No&vulnerable=No&controlledunlock=No&publicInterest=No&intimidator_public=Yes&intimidator_public_info=Harassment Offences/Court orders (13 Jun 2017)
            Restraining order from 09.12.15 - 09.12.17 -Not to contact directly or indirectly Kristina Barton - Not to go to 54 Southwood Road, Dunstable.
            Risk to Known Adult - Community (13 Jun 2017)
            Restraining order from 09.12.15 - 09.12.17 -Not to contact directly or indirectly Kristina Barton - Not to go to 54 Southwood Road, Dunstable.&intimidator_prisoners=No&gangs=No&violent_to_staff=No&risktofemales=No&homosexuals=No&racist=Yes&racist_info=	Racist (9 Nov 2015)
            Previous conviction for Racially/Religiously/Aggravated/Harassment offence on Pre-cons in 2013&religions=No&violent_risk_to_othergroups=Yes&violent_risk_to_othergroups_info=Child contact L1 (9 Nov 2015)
            Previously wanted for Threats to kill - Mr Barton called and text the mother and social worker Threatening to snatch his Son and kill himself and Son.
            Risk to Children - Community (9 Nov 2015)
            Previously wanted for Threats to kill - Mr Barton called and text the mother and social worker Threatening to snatch his Son and kill himself and Son. .&elist=No&escape_attempts=No&hostage_taker=No&sex_offender=No&arson=No">Preset to prisoner A8662AH</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
