{% extends "layout.html" %}

{% block page_title %}
Index MPS
{% endblock %}

{% block content %}
<script src="" charset="utf-8">

</script>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Automation work in progress
      </h1>

      <h2 class="heading-medium">Risk summaries - cautious</h2>

      <ul class="list list-bullet">
        <li><a href="/check-your-answers-risk-auto-first-time">Generic</a></li>
        <li><a href="/check-your-answers-risk-auto-first-time-A3427EC">01 Example - A3427EC</a></li>
        <li><a href="/check-your-answers-risk-auto-first-time-A5473AN">02 Example - A5473AN</a></li>
        <li><a href="/check-your-answers-risk-auto-first-time-A5888CE">03 Example - A5888CE</a></li>
        <li><a href="/check-your-answers-risk-auto-first-time-A8662AH">04 Example - A8662AH</a></li>
        <li><a href="/check-your-answers-risk-auto-first-time-A9904CR">05 Example - A9904CR</a></li>
        <li><a href="/check-your-answers-risk-auto-first-time-A3319CH">06 Example - A3319CH</a></li>
      </ul>
      <p class="heading-medium">
        Risk summaries - standard - with alert names and dates
      </p>
      <ul class="list list-bullet">
        <li><a href="/check-your-answers-risk-auto-first-time-A3427EC-standard">07 Example - A3427EC-standard</a></li>
        <li><a href="/check-your-answers-risk-auto-first-time-A8662AH-standard">08 Example - A8662AH-standard</a></li>
      </ul>
      <p class="heading-medium">
        Examples starting from dashboard
      </p>
      <ul class="list list-bullet">
        <li><a href="/dashboard_automation">Example starting from dashboard</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
