{% extends "layout.html" %}

{% block page_title %}
Index MPS
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Homescreen 2.0
      </h1>

      <h2 class="heading-medium">Homescreen 2.0 options, plus flow for starting a PER</h2>

      <ul class="list list-bullet">
        <li><a href="/dashboard_02">dashboard_02</a></li>
        <li><a href="/dashboard_03">dashboard_03</a></li>
        <li><a href="/dashboard_04">dashboard_04</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
