{% extends "layout.html" %}

{% block page_title %}
Index MPS
{% endblock %}

{% block content %}
<script type="text/javascript">
window.addEventListener("load", loadFunction);
function loadFunction(){
  dataDump({{ data | dump | safe}});
}
</script>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Moving People Safely</h1>
      <h1 class="heading-large">
        Police
      </h1>
      <p class="panel panel-border-wide">
        These prototypes retain user entered info from screen to screen.<br><span><em>To clear data, click on 'clear data' link in footer.</em></span>
      </p>

      <h2 class="heading-medium">Risk and health questions</h2>
      <p>
        Click 'set dummy data' before viewing risk and health questions.<br>The page will then reload.<br>(This adds dummy info to the PER and side panel)
      </p>
      <a class="button" href="/index?pn=01/234567A&from=Police Station name&to=Destination name&surname=Barker&firstname=Ronnie&dateoftravel=DDMMYYYY&offences=incomplete&risk=incomplete&healthcare=incomplete" role="button" style="background-color:#dee0e2; color:#0b0c0c;">Set dummy questions  data</a>

      <ul class="list list-bullet" style="margin-top:20px;">
        <li><a href="/risk_01">Answer risk questions</a></li>
        <li><a href="/health_02">Answer healthcare questions</a></li>
      </ul>
      <h2 class="heading-medium">Starting a PER</h2>
      <!-- <p>
        Click 'set dummy start data' before viewing home screen questions.<br>The page will then reload.<br>(This adds dummy info to the PER and side panel)
      </p>
      <a class="button" href="/index?nfr=hide&selfharm=hide&escaperisk=hide&cellsharingrisk=hide&offences=incomplete&risk=incomplete" role="button" style="background-color:#dee0e2; color:#0b0c0c;">Set dummy start data</a> -->
      <ul class="list list-bullet" style="margin-top:20px;">
        <li><a href="/dashboard_police_empty?from=Police Station name&offences=incomplete&risk=incomplete&healthcare=incomplete">Start a PER</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
