{% extends "layout.html" %}

{% block page_title %}
Index MPS
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Homescreen 2.0
      </h1>

      <h2 class="heading-medium">Dashboard 2.0 options</h2>

      <ul class="list list-bullet">
        <li><a href="/dashboard">Dashboard 01</a></li>
        <li><a href="/dashboard_old">Dashboard 02</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
