{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}
<script type="text/javascript">
function setNfrState(){
  console.log('setNfrstate');
  document.getElementById('form').setAttribute('action', 'profile?nfr_state')
}
</script>
<style media="screen">
.panel{
  margin-bottom: 30px;
}
</style>

<main id="content" role="main">

  {% include "includes/breadcrumb_move.html" %}

  <div class="grid-row">
    <form action="profile" method="post" class="column-two-thirds" class="form" id="form">

      <h1 class="heading-large">
        Move information
      </h1>
      <div class="form-group">
        <fieldset>
          <label class="form-label-bold">From</label>HMP Bedford</div>

          <label class="form-label-bold" style="margin-bottom:10px">To</label>
          <div class="form-group">
            <div class="multiple-choice" data-target="court-crown-info">
              <input id="radio-1" type="radio" name="destination" value="Crown Court" {{ checked("destination", "Crown Court") }}>
              <label for="radio-1">Crown Court</label>
            </div>
            <!-- details !-->
            <div class="panel panel-border-narrow js-hidden" id="court-crown-info">
              <div class="form-group">
                <label class="form-label" for="input-court-name">
                  Enter name of Crown Court
                </label>
                <input class="form-control" id="input-court-name" type="text" name="input-court-name">
              </div>
            </div>

            <div class="multiple-choice" data-target="court-mag-info">
              <input id="radio-part-2" type="radio" name="destination" value="Magistrates Court" {{ checked("destination", "Magistrates Court") }}>
              <label for="radio-part-2">Magistrates Court</label>
            </div>
            <!-- details !-->
            <div class="panel panel-border-narrow js-hidden" id="court-mag-info">
              <div class="form-group">
                <label class="form-label" for="input-mag-name">
                  Start typing name of Magistrates Court
                </label>
                <input class="form-control" id="input-mag-name" type="text" name="input-mag-name">
              </div>
            </div>

            <div class="multiple-choice" data-target="prison-info">
              <input id="radio-part-3" type="radio" name="destination" value="Prison Transfer" {{ checked("destination", "Prison Transfer") }}>
              <label for="radio-part-3">Prison</label>
            </div>
            <!-- details !-->
            <div class="panel panel-border-narrow js-hidden" id="prison-info">
              <div class="form-group">
                <label class="form-label" for="input-prison">
                  Enter name of prison
                </label>
                <input class="form-control" id="input-prison" type="text" name="input-prison">
              </div>
            </div>


            <div class="multiple-choice" data-target="hospital-info">
              <input id="radio-part-4" type="radio" name="destination" value="Hospital" {{ checked("destination", "Hospital") }}>
              <label for="radio-part-4">Hospital</label>
            </div>
            <!-- details !-->
            <div class="panel panel-border-narrow js-hidden" id="hospital-info">
              <div class="form-group">
                <label class="form-label" for="input-hospital">
                  Enter name of hospital
                </label>
                <input class="form-control" id="hospital" type="text" name="input-hospital">
              </div>
            </div>

            <div class="multiple-choice" data-target="other-destination-info">
              <input id="radio-part-5" type="radio" name="destination" value="Other"  {{ checked("destination", "A different destination") }}>
              <label for="radio-part-5">A different destination</label>
            </div>
            <!-- details !-->
            <div class="panel panel-border-narrow js-hidden" id="other-destination-info">
              <div class="form-group">
                <label class="form-label" for="input-other-destination">
                  Enter name of destination
                </label>
                <input class="form-control" id="other-destination" type="text" name="input-other-destination">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label-bold" for="datedummy">
              Date of travel
              <p class="form-hint">
                DD/MM/YYYY
              </p>
            </label>
            <input class="form-control" id="datedummy" type="text" name="datedummy">
          </div>
        </fieldset>
        <!-- question -->
        <h2 class="form-label-bold">
          Is there a reason they should not be released?
        </h2>
        <p class="form-hint">
          In NOMIS, check the header section of the prisoner’s record for the Not For Release alert.
        </p>
        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="all-nfr-radios">
              <input id="radio-inline-211" type="radio" name="nfr" value="Yes" {{ checked("nfr", "Yes") }}>
              <label for="radio-inline-211">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-inline-221" type="radio" name="nfr" value="No" onclick="setNfrState()" {{ checked("nfr", "No") }} >
              <label for="radio-inline-221">No</label>
            </div>

          </fieldset>
        </div>

        <!-- conditionals -->
        <div class="panel panel-border-narrow js-hidden" id="all-nfr-radios">
          <div class="form-group">
            <fieldset>

              <legend class="visuallyhidden">
              </legend>

              <div class="multiple-choice">
                <input id="radio-part-110" type="radio" name="nfr_state" value="Serving sentence" {{ checked("nfr_state", "Serving sentence") }}>
                <label for="radio-part-110">Serving sentence</label>
              </div>

              <div class="multiple-choice">
                <input id="radio-part-120" type="radio" name="nfr_state" value="Further charges" {{ checked("nfr_state", "Further charges") }}>
                <label for="radio-part-120">Further charges</label>
              </div>

              <div class="multiple-choice">
                <input id="radio-part-130" type="radio" name="nfr_state" value="Licence revoke" {{ checked("nfr_state", "Licence revoke") }}>
                <label for="radio-part-130">Licence revoke</label>
              </div>

              <div class="multiple-choice">
                <input id="radio-part-140" type="radio" name="nfr_state" value="Held for immigration" {{ checked("nfr_state", "Held for immigration") }}>
                <label for="radio-part-140">Held for immigration</label>
              </div>

              <div class="multiple-choice" data-target="nfr-info">
                <input id="radio-part-150" type="radio" name="nfr_state" value="Other"  {{ checked("nfr_state", "Other") }}>
                <label for="radio-part-150">Other</label>
              </div>

            </fieldset>
          </div>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="nfr-info">
          <div class="form-group">
            <label class="form-label" for="textarea-b">
              Give details of why the detainee is not for release
            </label>
            <textarea class="form-control" id="textarea-b" cols="30" rows="3" name="nfr_info">{{data['nfr_info']}}</textarea>
          </div>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>

    </div>
  </div>

</div>
</main>

{% endblock %}
