{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}
<script type="text/javascript">
window.addEventListener("load", loadFunction);
function loadFunction() {
  dataDump({{ data | dump | safe}});
}
function cleanTo(){
  return 'profile.html';
}
function setNfrState(){
  console.log('setNfrstate');
  document.getElementById('form').setAttribute('action', 'profile?nfr_state')
}
function setdateToday(){
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1;
  var yyyy = today.getFullYear();

  today = dd+'/'+mm+'/'+yyyy;

  console.log('today = ' + today);
  document.getElementById('dateoftravel').value = today;
}
function setdateTomorrow(){
  var today = new Date();
  today.setDate(today.getDate() + 1);
  var dd = today.getDate();
  var mm = today.getMonth()+1;
  var yyyy = today.getFullYear();

  today = dd+'/'+mm+'/'+yyyy;

  console.log('tomorrow = ' + today);
  document.getElementById('dateoftravel').value = today;
}


</script>

<style media="screen">
.panel{
  margin-bottom: 30px;
}
</style>

<main id="content" role="main">

  {% include "includes/breadcrumb_move.html" %}

  <div class="grid-row">
    <form action='profile' method="post" class="column-two-thirds" class="form" id="form">

      <h1 class="heading-large">
        Move information
      </h1>
      <div class="form-group">
        <fieldset>
          <label class="form-label-bold" value="Police Station name">From</label>{{data['from']}}</div>

          <label class="form-label-bold" style="margin-bottom:10px">To</label>
          <div class="form-group">
            <div class="multiple-choice" data-target="court-crown-info">
              <input id="radio-1" type="radio" name="destination" value="Crown Court" {{ checked("destination", "Crown Court") }}>
              <label for="radio-1">Crown Court</label>
            </div>
            <!-- details !-->
            <div class="panel panel-border-narrow js-hidden" id="court-crown-info">
              <div class="form-group">
                <label class="form-label" for="input-court-name">
                  Enter name of Crown Court
                </label>
                <input class="form-control" id="input-court-name" type="text" name="to" value="{{data['to']}}">
              </div>
            </div>

            <div class="multiple-choice" data-target="court-mag-info">
              <input id="radio-part-2" type="radio" name="destination" value="Magistrates Court" {{ checked("destination", "Magistrates Court") }}>
              <label for="radio-part-2">Magistrates Court</label>
            </div>
            <!-- details !-->
            <div class="panel panel-border-narrow js-hidden" id="court-mag-info">
              <div class="form-group">
                <label class="form-label" for="input-mag-name">
                  Start typing name of Magistrates Court
                </label>
                <input class="form-control" id="input-mag-name" type="text" name="to" value="{{data['to']}}">
              </div>
            </div>

            <div class="multiple-choice" data-target="court-civil-info">
              <input id="radio-part-4" type="radio" name="destination" value="Civil Court" {{ checked("destination", "Civil Court") }}>
              <label for="radio-part-4">Civil Court</label>
            </div>
            <!-- details !-->
            <div class="panel panel-border-narrow js-hidden" id="court-civil-info">
              <div class="form-group">
                <label class="form-label" for="input-civil-name">
                  Enter name of Civil Court
                </label>
                <input class="form-control" id="civil-name" type="text" name="to" value="{{data['to']}}">
              </div>
            </div>

            <div class="multiple-choice" data-target="prison-info">
              <input id="radio-part-3" type="radio" name="destination" value="Prison Transfer" {{ checked("destination", "Prison Transfer") }}>
              <label for="radio-part-3">Prison/Young Offender Institution</label>
            </div>
            <!-- details !-->
            <div class="panel panel-border-narrow js-hidden" id="prison-info">
              <div class="form-group">
                <label class="form-label" for="input-prison">
                  Enter name of Prison/Young Offender Institution
                </label>
                <input class="form-control" id="input-prison" type="text" name="to" value="{{data['to']}}">
              </div>
            </div>

            <div class="multiple-choice" data-target="immigration-info">
              <input id="radio-part-5" type="radio" name="destination" value="immigration" {{ checked("destination", "immigration") }}>
              <label for="radio-part-5">Immigration removal centre</label>
            </div>
            <!-- details !-->
            <div class="panel panel-border-narrow js-hidden" id="immigration-info">
              <div class="form-group">
                <label class="form-label" for="immigration-name">
                  Enter name of Immigration removal centre
                </label>
                <input class="form-control" id="immigration-name" type="text" name="to" value="{{data['to']}}">
              </div>
            </div>

            <div class="multiple-choice" data-target="force-info">
              <input id="radio-part-6" type="radio" name="destination" value="force" {{ checked("destination", "force") }}>
              <label for="radio-part-6">Police custody suite</label>
            </div>
            <!-- details !-->
            <div class="panel panel-border-narrow js-hidden" id="force-info">
              <div class="form-group">
                <label class="form-label" for="force-name">
                  Enter name of Police custody suite
                </label>
                <input class="form-control" id="force-name" type="text" name="to" value="{{data['to']}}">
              </div>
            </div>


            <div class="multiple-choice" data-target="other-info">
              <input id="radio-part-7" type="radio" name="destination" value="other" {{ checked("destination", "other") }}>
              <label for="radio-part-7">Other destination</label>
            </div>
            <!-- details !-->
            <div class="panel panel-border-narrow js-hidden" id="other-info">
              <div class="form-group">
                <label class="form-label" for="other-name">
                  Enter name of destination
                </label>
                <input class="form-control" id="other-name" type="text" name="to" value="{{data['to']}}">
              </div>
            </div>

            <!-- <div class="multiple-choice" data-target="other-destination-info">
            <input id="radio-part-5" type="radio" name="destination" value="Other"  {{ checked("destination", "A different destination") }}>
            <label for="radio-part-5">A different destination</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="other-destination-info">
          <div class="form-group">
          <label class="form-label" for="input-other-destination">
          Enter name of destination
        </label>
        <input class="form-control" id="other-destination" type="text" name="input-other-destination">
      </div>
    </div> -->
  </div>
  <div class="form-group" style="margin-bottom:15px !important">
    <label class="form-label-bold" for="dateoftravel">
      Date of travel
      <p class="form-hint">
        DD/MM/YYYY
      </p>
    </label>
    <input class="form-control" id="dateoftravel" type="text" name="dateoftravel" value="{{data['dateoftravel']}}">
  </div>
</fieldset>
<div class="form-group">
  <fieldset class="inline">

    <legend class="visually-hidden"></legend>

    <div class="multiple-choice">
      <input id="radio-inline-30" type="radio" name="day" value="Today" onclick="setdateToday()"  {{ checked("day", "Today") }}>
      <label for="radio-inline-30">Today</label>
    </div>

    <div class="multiple-choice">
      <input id="radio-inline-31" type="radio" name="day" value="Tomorrow" onclick="setdateTomorrow()" {{ checked("day", "Tomorrow") }} >
      <label for="radio-inline-31">Tomorrow</label>
    </div>

  </fieldset>
</div>
<!-- question -->
<h2 class="form-label-bold">
  Is there a reason they should not be released?
</h2>

<div class="form-group">
  <fieldset class="inline">

    <legend class="visually-hidden"></legend>

    <div class="multiple-choice" data-target="all-nfr-radios">
      <input id="radio-inline-211" type="radio" name="nfr" value="Yes" {{ checked("nfr", "Yes") }}>
      <label for="radio-inline-211">Yes</label>
    </div>

    <div class="multiple-choice">
      <input id="radio-inline-221" type="radio" name="nfr" value="No" onclick="setNfrState()" {{ checked("nfr", "No") }} >
      <label for="radio-inline-221">No</label>
    </div>

  </fieldset>
</div>

<!-- conditionals -->
<div class="panel panel-border-narrow js-hidden" id="all-nfr-radios">
  <div class="form-group">
    <fieldset>

      <legend class="visuallyhidden">
      </legend>

      <div class="multiple-choice">
        <input id="radio-part-110" type="radio" name="nfr_state" value="Prison production" {{ checked("nfr_state", "Prison production") }}>
        <label for="radio-part-110">Prison production</label>
      </div>

      <div class="multiple-choice">
        <input id="radio-part-120" type="radio" name="nfr_state" value="Recall to prison" {{ checked("nfr_state", "Recall to prison") }}>
        <label for="radio-part-120">Recall to prison</label>
      </div>


      <div class="multiple-choice">
        <input id="radio-part-140" type="radio" name="nfr_state" value="Held for immigration" {{ checked("nfr_state", "Held for immigration") }}>
        <label for="radio-part-140">Held for immigration</label>
      </div>

      <div class="multiple-choice" data-target="nfr-info">
        <input id="radio-part-150" type="radio" name="nfr_state" value="Other"  {{ checked("nfr_state", "Other") }}>
        <label for="radio-part-150">Other</label>
      </div>

    </fieldset>
  </div>
</div>

<div class="panel panel-border-narrow js-hidden" id="nfr-info">
  <div class="form-group">
    <label class="form-label" for="textarea-b">
      Give details of why the detainee is not for release
    </label>
    <textarea class="form-control" id="textarea-b" cols="30" rows="3" name="nfr_info">{{data['nfr_info']}}</textarea>
  </div>
</div>

<div class="form-group">
  <input class="button" type="submit" value="Continue">
</div>
</form>

</div>
</div>

</div>
</main>

{% endblock %}
