{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}
<script type="text/javascript">
window.addEventListener("load", loadFunction);
function loadFunction() {

}
</script>

<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <form action="check-your-answers-risk-incomplete_nomis" method="get" class="column-two-thirds" class="form" id="form">

      <h1 class="heading-large">
      The following Risk questions have been answered based on alerts on the prisoner’s NOMIS profile.
      </h1>

      <p>You can change these answers if you wish. If you do this, we recommend you also update the data held in NOMIS.</p>
      <div class="panel panel-border-wide">
        <p>
          Remember to check other sources (for example, case notes, adjudications or intelligence systems) for further information.
        </p>
      </div>
      <br>
      <!-- button -->
      <div class="form-group">
        <!-- <a class="button" href="check-your-answers.html" role="button" >Save and continue</a> -->
        <input class="button" type="submit" value="Continue">
      </div>
    </form>
    <div class="side-profile column-one-third">
      {% include "includes/side-profile.html" %}
    </div>
  </div>

</div>
</main>

{% endblock %}
