{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}
<style media="screen">
.panel{
  margin-bottom: 30px;
}
.removelink{
  float:right;
  /*background-color: red;*/
}
</style>

<main id="content" role="main">

  {% include "includes/breadcrumb_move.html" %}
  <div class="grid-row">
    <form action="profile?offences=done" method="post" class="column-two-thirds" class="form">

      <h1 class="heading-large">
        Current offences
      </h1>

      <div>
        <!-- offence -->
        <div>
          <hr class="column-full">
          <div class="removelink">
            <a href="#">Remove</a>
          </div>
          <h2 class="heading-medium">Offence</h2>
          <div class="form-group">
            <label class="form-label" for="offence-name">Offence name</label>
            <textarea class="form-control form-control-3-4" name="offencename" id="textarea" rows="2">{{data['offencename']}}</textarea>
          </div>

          <div class="form-group">
            <label class="form-label" for="casenumber">Unique reference number</label>
            <input class="form-control" style="width:30%" id="casenumber" name="offencenumber" type="text" value="{{data['offencenumber']}}">
          </div>

        </div>
        <!-- offence -->

        <!-- offence -->
        <!-- <hr>
        <div class="form-group">
        <label class="form-label" for="offence-name">Offence </label>
        <input class="form-control" id="offence-name" name="offence_name" type="text">
      </div>
      <div class="form-group">
      <label class="form-label" for="casenumber">Case reference</label>
      <input class="form-control" id="casenumber" name="casenumber" type="text">
    </div> -->
    <!-- button -->
    <hr class="column-full" style="margin:0 0 inherit 0">
    <input class="button button-add-another-vertical" style="width:140px" type="" value="Add another">
  </div>
  <div class="form-group">
    <input class="button" type="submit" value="Save and continue" style="margin-right:20px">
    <!-- <a class="button" href="profile.html?offences=done" role="button" >Save and continue</a> -->
  </div>
</form>

<div class="side-profile column-one-third">
  {% include "includes/side-profile.html" %}
</div>

</main>

{% endblock %}
