{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-full"><p><a href="risk_04.html">Back</a>&emsp;5 of 13 &emsp;<a href="risk_06.html">Skip</a></p>
    </div>
    <div class="column-two-thirds">

      <form action="risk_06" method="get" class="form">

        <h1 class="heading-secondary">
          Harassment and gangs
        </h1>

        <!-- question -->
        <h2 class="heading-medium">
          Are they a known harasser or intimidator?
        </h2>
        <div class="form-group">

          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="intimidator_public">
              <input id="radio-inline-5" type="radio" name="intimidator_public" value="Yes" {{ checked("intimidator_public", "Yes") }}>
              <label for="radio-inline-5">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-inline-6" type="radio" name="intimidator_public" value="No" {{ checked("intimidator_public", "No") }}>
              <label for="radio-inline-6">No</label>
            </dic>

          </fieldset>
        </div>

        <!-- conditionals -->
        <div class="panel panel-border-narrow js-hidden" id="intimidator_public">
          <!-- Give details -->
          <div class="form-group">
            <fieldset>
              <legend class="visuallyhidden">Intimidator/bully</legend>
              <label class="form-label" for="textarea-a">
                Give details:
              </label>
              <textarea class="form-control" id="textarea-a" cols="30" rows="3" name="intimidator_public_info">{{data['intimidator_public_info']}}</textarea>
            </div>
          </fieldset>
        </div>

        <h2 class="heading-medium">
          Are they a gang member or involved in organised crime?
        </h2>
        <p class="form-hint">
          In the arrest record, check for the <i>Organised crime group</i> warning marker.
        </p>
        <div class="form-group">

          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="gangs-info">
              <input id="radio-inline-7" type="radio" name="gangs" value="Yes"{{ checked("gangs", "Yes") }} >
              <label for="radio-inline-7">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-8" type="radio" name="gangs" value="No" {{ checked("gangs", "No") }} onclick="clearDetails('textarea-b');">
              <label for="radio-inline-8">No</label>
            </div>

          </fieldset>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="gangs-info">
          <div class="form-group">
            <label class="form-label" for="textarea-b">
              Give details
            </label>
            <textarea class="form-control" id="textarea-b" cols="30" rows="3" name="gangs_info"></textarea>
          </div>
        </div>
        <!-- button -->
        <div class="form-group">
          {% include "includes/risk-screen-buttons.html" %}

        </div>
      </form>
    </div>
    <div class="side-profile column-one-third">
      {% include "includes/side-profile.html" %}
    </div>
  </div>
</main>

{% endblock %}
