{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-full"><p><a href="risk_06.html">Back</a>&emsp;7 of 12&emsp;<a href="risk_08.html">Skip</a></p>
    </div>
    <div class="column-two-thirds">

      <form action="risk_08" method="get" class="form">

        <h1 class="heading-secondary">Hostage taker</h1>

        <!-- question -->
        <h2 class="heading-medium">
          Do they have a history of taking hostages?
        </h2>
        <p class="form-hint">
          In NOMIS, check the header section of the prisoner’s record for the Hostage taker alert. Check alert comments, case notes and adjudications for details.
        </p>
        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <label class="block-label selection-button-radio" for="radio-inline-1" data-target="all-checkboxes">
              <input id="radio-inline-1" type="radio" name="hostage_taker" value="Yes">
              Yes
            </label>
            <label class="block-label selection-button-radio" for="radio-inline-2">
              <input id="radio-inline-2" type="radio" name="hostage_taker" value="No">
              No
            </label>

          </fieldset>
        </div>

        <!-- conditional -->
        <div class="panel panel-border-narrow js-hidden" id="all-checkboxes">

          <!-- Checkbox -->
          <div class="form-group">
            <fieldset>
              <legend class="visuallyhidden"></legend>
              <p>Group involved (select all that apply):</p>
              <label class="block-label" for="hostage_staff" data-target="hostage_staff_info">
                <input type="checkbox" name="hostage_staff" value="Yes" id="hostage_staff">
                Staff
              </label>
              <!-- conditional -->
              <div class="panel panel-border-narrow js-hidden" id="hostage_staff_info">
                <!-- Date-->
                <div class="form-group">
                  <fieldset>
                    <legend class="form-label-bold">Date of most recent incident</legend>

                    <div class="form-date">

                      <p class="form-hint">For example, 31 3 1980</p>

                      <div class="form-group form-group-day">
                        <label for="dob-day">Day</label>
                        <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31" name="hostage_staff_day">
                      </div>

                      <div class="form-group form-group-month">
                        <label for="dob-month">Month</label>
                        <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12" name="hostage_staff_month">
                      </div>

                      <div class="form-group form-group-year">
                        <label for="dob-year">Year</label>
                        <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2017" name="hostage_staff_year">
                      </div>
                    </div>
                  </fieldset>
                </div>
              </fieldset>
            </div>
            <!-- Checkbox -->
            <div class="form-group">
              <fieldset>
                <legend class="visuallyhidden"></legend>
                <label class="block-label" for="hostage_prisoners" data-target="hostage_prisoners_info">
                  <input type="checkbox" name="hostage_prisoners" value="Yes" id="hostage_prisoners">
                  Prisoners
                </label>

                <!-- conditional -->
                <div class="panel panel-border-narrow js-hidden" id="hostage_prisoners_info">
                  <!-- Date-->
                  <div class="form-group">
                    <fieldset>
                      <legend class="form-label-bold">Date of most recent incident</legend>

                      <div class="form-date">

                        <p class="form-hint">For example, 31 3 1980</p>

                        <div class="form-group form-group-day">
                          <label for="dob-day">Day</label>
                          <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31" name="hostage_prisoners_day">
                        </div>

                        <div class="form-group form-group-month">
                          <label for="dob-month">Month</label>
                          <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12" name="hostage_prisoners_month">
                        </div>

                        <div class="form-group form-group-year">
                          <label for="dob-year">Year</label>
                          <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2017" name="hostage_prisoners_year">
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </fieldset>
              </div>
              <!-- Checkbox -->
              <div class="form-group">
                <fieldset>
                  <legend class="visuallyhidden"></legend>
                  <label class="block-label" for="hostage_public" data-target="hostage_public_info">
                    <input type="checkbox" name="hostage_public" value="Yes" id="hostage_public">
                    Public
                  </label>

                  <!-- conditional -->
                  <div class="panel panel-border-narrow js-hidden" id="hostage_public_info">
                    <!-- Date-->
                    <div class="form-group">
                      <fieldset>
                        <legend class="form-label-bold">Date of most recent incident</legend>

                        <div class="form-date">

                          <p class="form-hint">For example, 31 3 1980</p>

                          <div class="form-group form-group-day">
                            <label for="dob-day">Day</label>
                            <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31" name="hostage_public_day">
                          </div>

                          <div class="form-group form-group-month">
                            <label for="dob-month">Month</label>
                            <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12" name="hostage_public_month">
                          </div>

                          <div class="form-group form-group-year">
                            <label for="dob-year">Year</label>
                            <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2017" name="hostage_public_year">
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>

              <!-- button -->
              <div class="form-group">
                <input class="button" type="submit" value="Save and continue">
              </form>
            </div>
          </div>
        </div>
      </main>

      {% endblock %}
