{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}
<script type="text/javascript">
window.addEventListener("load", loadFunction);
function loadFunction() {
  var nextscreen = {{data['nextscreen'] | dump | safe }};
  document.getElementById('form').setAttribute('action', nextscreen)
  // var missing = {{data['missing'] | dump | safe }};
  // console.log('missing = ' + missing);
  // if (missing == "No"){
  //   nextscreen = "risk_01_missing"
  // }
  // console.log('missing = ' + missing);
  console.log('nextscreen = ' + nextscreen);
  // document.getElementById('form').setAttribute('action', nextscreen)
}
var nextscreen = "risk_01_missing"
</script>

<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <form action="" method="get" class="column-two-thirds" class="form" id="form">

      <h1 class="heading-large">
        Before you start
      </h1>
      <p class="lede">
        You may notice that some Risk questions have already been answered.
      </p>
      <p>These pre-populated answers are based on alerts displayed on the prisoner’s NOMIS profile.</p>
      <p>You can change these answers if you wish. If you do this, we recommend you also update the data held in NOMIS.</p>
      <div class="panel panel-border-wide">
        <p>
          Remember to check other sources (for example, case notes, adjudications or intelligence systems) for further information.
        </p>
      </div>
      <br>

      <!-- button -->
      <div class="form-group">
        <!-- <a class="button" href="check-your-answers.html" role="button" >Save and continue</a> -->
        <input class="button" type="submit" value="Continue">
      </div>
    </form>
    <div class="side-profile column-one-third">
      {% include "includes/side-profile.html" %}
    </div>
  </div>

</div>
</main>

{% endblock %}
