{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-full"><p><a href="risk_05.html">Back</a>&emsp;6 of 12&emsp;<a href="risk_07.html">Skip</a></p>
    </div>
    <div class="column-two-thirds">
      <form action="risk_07" method="get" class="form">

        <h1 class="heading-secondary">
          Escape status and history
        </h1>
        <!-- question -->
        <h2 class="heading-medium">
          Are they on the Escape List (E-List)?
        </h2>
        <p class="form-hint">
          Check Mercury for intelligence or in NOMIS, check the prisoner’s record for the E-List alert. Check alert comments and case notes for details.
        </p>
        <span class="nomis-verified"></span>
        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden">currently on E list</legend>

            <div class="multiple-choice" data-target="elistinfo-panel">
              <input id="radio-inline-1" type="radio" name="elist" value="Yes" {{ checked("elist", "Yes") }}>
              <label for="radio-inline-1">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="elist" value="No" {{ checked("elist", "No") }} onclick="clearDetails('textarea-a');">
              <label for="radio-inline-2">No</label>
            </div>

          </fieldset>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="elistinfo-panel">
          <div class="form-group">
            <label class="form-label" for="textarea-a">
              Specify E-list category if known; E-list-Standard, E-list-Escort or E-list-Heightened
            </label>
            <textarea class="form-control form-control-3-4" id="textarea-a" rows="3" name="elist_info">{{ data['elist_info'] }}</textarea>
          </div>
        </div>

        <!-- question -->
        <h2 class="heading-medium">
          Are they an escape risk?
        </h2>
        <p class="form-hint">
          Check Mercury for intelligence or in NOMIS, check the prisoner’s record for the Escape Risk alert. Check alert comments and case notes for details.
        </p>
        <span class="nomis-verified"></span>
        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="escape_risk_details">
              <input id="radio-inline-3" type="radio" name="escape_attempts" value="Yes" {{ checked("escape_attempts", "Yes") }}>
              <label for="radio-inline-3">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-4" type="radio" name="escape_attempts" value="No" {{ checked("escape_attempts", "No") }} onclick="clearDetails('textarea-b');">
              <label for="radio-inline-4">No</label>
            </div>
          </fieldset>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="escape_risk_details">
          <div class="form-group">
            <label class="form-label" for="textarea-b">
              Give details, including any previous escape attempts
            </label>
            <textarea class="form-control form-control-3-4" id="textarea-b" rows="3" name="escape_risk_info">{{ data['escape_risk_info'] }}</textarea>
          </div>
        </div>

        <!-- question -->
        <h2 class="heading-medium">
          Is an Escort Risk Assessment needed for this journey?
        </h2>
        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="info_escort_assessment">
              <input id="radio-inline-7" type="radio" name="escort_risk_assessment" value="Yes" {{ checked("escort_risk_assessment", "No") }}>
              <label for="radio-inline-7">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-8" type="radio" name="escort_risk_assessment" value="No" {{ checked("escort_risk_assessment", "No") }}>
              <label for="radio-inline-8">No</label>
            </div>

          </fieldset>
        </div>

        <!-- conditional -->
        <div class="panel panel-border-narrow js-hidden">
          <!-- Date-->
          <div class="form-group">
            <fieldset>
              <legend class="form-label-bold">Escort Risk Assessment completed on:</legend>

              <div class="form-date">

                <p class="form-hint">For example, 31 3 1980</p>
                <input class="form-control" id="era_date" type="text" name="era_date" value="{{data['era_date']}}">

              </div>

            </fieldset>
          </div>
        </fieldset>
      </div>
      <!-- question -->
      <h2 class="heading-medium">
        Is an Escape Pack needed for this journey?
      </h2>

      <div class="form-group">
        <fieldset class="inline">

          <legend class="visually-hidden">Category A or Restricted status</legend>

          <div class="multiple-choice">
            <input id="radio-inline-9" type="radio" name="escape_pack" value="Yes" {{ checked("escape_pack", "Yes") }}>
            <label for="radio-inline-9">Yes</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-inline-10" type="radio" name="escape_pack" value="No" {{ checked("escape_pack", "No") }}>
            <label for="radio-inline-10">No</label>
          </div>

        </fieldset>
      </div>

      <!-- conditional -->
      <div class="panel panel-border-narrow js-hidden" id="info_escape_pack">
        <!-- Date-->
        <div class="form-group">
          <fieldset>
            <legend class="form-label-bold">Escape Pack completed on:</legend>

<div class="form-date">

              <p class="form-hint">For example, 31 3 1980</p>
              <input class="form-control" id="escape_pack_date" type="text" name="escape_pack_date" value="{{data['escape_pack_date']}}">

            </div>

          </fieldset>
        </div>
      </div>

      <!-- button -->
      <div class="form-group">
        {% include "includes/risk-screen-buttons.html" %}
      </div>
    </form>

  </div>
</div>
</main>

{% endblock %}
