{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<script type="text/javascript">
window.addEventListener("load", myFunction);
function myFunction(){
//   setState("csra", "Standard")
// setState("rule45", "No")
// setState("vulnerable", "No")
}
</script>

<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-full"><p><a href="risk_01.html">Back</a>&emsp;2 of 13&emsp;<a href="risk_03.html">Skip</a></p>
    </div>
    <div class="column-two-thirds">

      <form action="risk_03" method="post" class="form">

        <h1 class="heading-secondary">Segregation</h1>

        <!-- question -->
        <h2 class="heading-medium">
          Is there any reason they should not share a cell with another person?
        </h2>
        <p class="form-hint">For example, if they need to share a cell at court or prison.</p>

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="csra-info">
              <input id="radio-inline-11" type="radio" name="csra" value="Yes" {{ checked("csra", "Yes") }}>
              <label for="radio-inline-11">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-inline-12" type="radio" name="csra" value="No" {{ checked("csra", "No") }}>
              <label for="radio-inline-12">No</label>
            </div>

          </fieldset>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="csra-info">
          <div class="form-group">
            <label class="form-label" for="textarea-b">
              Give details
            </label>
            <textarea class="form-control form-control-3-4" id="textarea-b" cols="30" rows="3" name="csra_info">{{data['csra_info']}}</textarea>
          </div>
        </div>

        <!-- question -->
        <h2 class="heading-medium">
          Are they at risk from other people?
        </h2>
        <p class="form-hint">Check the <i>Vulnerable/At risk detainee alert</i>. In the arrest record, check for the Vulnerable person flag or any information under Risk of attack by others. </p>
        <div class="form-group">

          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="vulnerable-info">
              <input id="radio-inline-17" type="radio" name="vulnerable" value="Yes" {{ checked("vulnerable", "Yes") }}>
              <label for="radio-inline-17">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-18" type="radio" name="vulnerable" value="No" {{ checked("vulnerable", "No") }} onclick="clearDetails('textarea-b');">
              <label for="radio-inline-18">No</label>
            </div>

          </fieldset>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="vulnerable-info">
          <div class="form-group">
            <label class="form-label" for="textarea-b">
              Give details
            </label>
            <textarea class="form-control form-control-3-4" id="textarea-b" cols="30" rows="3" name="vulnerable_info">{{data['vulnerable_info']}}</textarea>
          </div>
        </div>

        <!-- button -->
        <div class="form-group">
          {% include "includes/risk-screen-buttons.html" %}

        </div>
      </form>
    </div>
    <div class="side-profile column-one-third">
      {% include "includes/side-profile.html" %}
    </div>
  </div>
</main>

{% endblock %}
