{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<style media="screen">
.panel{
  margin-bottom: 30px;
}
.removelink{
  float:right;
  /*background-color: red;*/
}
.form-control-3-4{
  width: 80%;
}
</style>

<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-full"><p><a href="risk_02.html">Back</a>&emsp;3 of 7&emsp;<a href="risk_04.html">Skip</a></p>
    </div>
    <div class="column-two-thirds">

      <form action="risk_04" method="post" class="form">

        <h1 class="heading-secondary">Security</h1>

        <!-- question -->
        <h2 class="heading-medium">
          Are they of high public interest?
        </h2>
        <p class="form-hint">
          For example, if they are a public figure or involved in a high profile case.
        </p>
        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="high-public-interest-info">
              <input id="radio-inline-2" type="radio" name="publicInterest" value="Yes" {{ checked("publicInterest", "Yes") }}>
              <label for="radio-inline-2">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="publicInterest" value="No" {{ checked("publicInterest", "No") }} onclick="clearDetails('textarea-b');">
              <label for="radio-inline-2">No</label>
            </div>

          </fieldset>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="high-public-interest-info">
          <div class="form-group">
            <label class="form-label" for="textarea-a">
              Give details
            </label>
            <textarea class="form-control form-control-3-4" id="textarea-a" cols="30" rows="3" name="publicInterest_info"
            >{{ data["publicInterest_info"] }}</textarea>
          </div>
        </div>

        <!-- question -->
        <h2 class="heading-medium">
          Are they violent or dangerous?
        </h2>
        <p class="form-hint">
          In the arrest record, check for the <i>Violent or Potentially dangerous offender</i> warning markers.
        </p>
        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="violent_dangerous">
              <input id="radio-inline-3" type="radio" name="violent_dangerous" value="Yes" {{ checked("violent_dangerous", "Yes") }}>
              <label for="radio-inline-3">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="radio-inline-4" type="radio" name="violent_dangerous" value="No" {{ checked("violent_dangerous", "No") }}>
              <label for="radio-inline-4">No</label>
            </dic>

          </fieldset>
        </div>

        <!-- conditionals -->
        <div class="panel panel-border-narrow js-hidden" id="violent_dangerous">
          <!-- Give details -->
          <div class="form-group">
            <fieldset>
              <legend class="visuallyhidden">Intimidator/bully</legend>
              <label class="form-label" for="textarea-b">
                Give details
              </label>
              <textarea class="form-control form-control-3-4" id="textarea-b" cols="30" rows="3" name="violent_dangerous_info">{{data['violent_dangerous_info']}}</textarea>
            </div>
          </fieldset>
        </div>

        <!-- question -->
        <h2 class="heading-medium">
          Are they a gang member or involved in organised crime?
        </h2>
        <p class="form-hint">
          In the arrest record, check for the <i>Organised crime group</i> warning marker. Include details of anyone they should not come into contact with (for example, at court or prison).
        </p>
        <div class="form-group">

          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="gangs-info">
              <input id="radio-inline-5" type="radio" name="gangs" value="Yes"{{ checked("gangs", "Yes") }} >
              <label for="radio-inline-5">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-6" type="radio" name="gangs" value="No" {{ checked("gangs", "No") }} onclick="clearDetails('textarea-b');">
              <label for="radio-inline-6">No</label>
            </div>

          </fieldset>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="gangs-info">
          <div class="form-group">
            <label class="form-label" for="textarea-c">
              Give details
            </label>
            <textarea class="form-control form-control-3-4" id="textarea-c" cols="30" rows="3" name="gangs_info"></textarea>
          </div>
        </div>

        <!-- question -->
        <h2 class="heading-medium">
          Are they an escape risk?
        </h2>
        <p class="form-hint">
          Check PNC warnings for the <i>Escaper</i> marker and any other relevant escape risk information.
        </p>

        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="escape_risk_details">
              <input id="radio-inline-7" type="radio" name="escape_attempts" value="Yes" {{ checked("escape_attempts", "Yes") }}>
              <label for="radio-inline-7">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-8" type="radio" name="escape_attempts" value="No" {{ checked("escape_attempts", "No") }} onclick="clearDetails('textarea-b');">
              <label for="radio-inline-8">No</label>
            </div>
          </fieldset>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="escape_risk_details">
          <div class="form-group">
            <label class="form-label" for="textarea-d">
              Give details:
            </label>
            <textarea class="form-control form-control-3-4" id="textarea-d" rows="3" name="escape_risk_info">{{ data['escape_risk_info'] }}</textarea>
          </div>
        </div>

        <!-- button -->
        <div class="form-group">
          {% include "includes/risk-screen-buttons.html" %}
        </div>
      </form>

    </div>
    <div class="side-profile column-one-third">
      {% include "includes/side-profile.html" %}
    </div>
  </div>
</main>



{% endblock %}
