{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}
<script type="text/javascript">
window.addEventListener("load", myFunction);
function myFunction(){
}
</script>

<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-full"><p>1 of 7&emsp;<a href="risk_02.html">Skip</a></p>
    </div>
    <div class="column-two-thirds">
      <form action="risk_02" method="post" class="form">

        <h1 class="heading-secondary">Risk to self
        </h1>

        <!-- question -->
        <h2 class="heading-medium">
          Is there any indication that they might self harm or attempt suicide?
        </h2>
        <p class="form-hint">In the arrest record, check the pre-release assessment for relevant comments.</p>
        <div class="form-group">

          <fieldset class="inline">
            <legend class="visually-hidden"></legend>
            <div class="multiple-choice" data-target="selfharm-info">
              <input id="radio-inline-7" type="radio" name="selfharm" value="Yes" {{ checked('selfharm', "Yes") }}>
              <label for="radio-inline-7">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-8" type="radio" name="selfharm" value="No" {{ checked('selfharm', "No")}} onclick="clearDetails('textarea-b');">
              <label for="radio-inline-8">No</label>
            </div>

          </fieldset>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="selfharm-info">
          <div class="form-group">
            <label class="form-label" for="textarea-b">
              Give details:
            </label>
            <textarea class="form-control form-control-3-4" id="textarea-b" cols="30" rows="3" name="selfharm_info" >{{ data['selfharm_info'] }}</textarea>
          </div>
        </div>

        <!-- question -->
        <h2 class="heading-medium">
          What observation level have they been assigned while in custody?
        </h2>
        <p class="form-hint">In the arrest record, check <i>Observation Level</i>. </p>

        <div class="form-group">
          <legend class="visuallyhidden">
          </legend>

          <div>
            <fieldset>
              <div class="multiple-choice">
                <input id="radio-part-1" type="radio" name="obvs_level" value="No" {{ checked("obvs_level", "No") }}>
                <label for="radio-part-1">Level 1 (hourly checks)</label>
              </div>
              
              <div class="multiple-choice" data-target="level2-info">
                <input id="radio-part-2" type="radio" name="obvs_level" value="Yes" {{ checked("obvs_level", "Yes") }}>
                <label for="radio-part-2">Level 2 (checks every 30 minutes)</label>
              </div>
              <div class="panel panel-border-narrow js-hidden" id="level2-info">
                <div class="form-group">
                  <label class="form-label" for="textarea-a">
                    Give details, including reasons for assigning observation level:
                  </label>
                  <textarea class="form-control form-control-3-4" id="textarea-a" cols="30" rows="3" name="obvs_info_2" >{{ data['obvs_info_2'] }}</textarea>
                </div>
              </div>
              <div class="multiple-choice" data-target="level3-info">
                <input id="radio-part-3" type="radio" name="obvs_level" value="Yes" {{ checked("obvs_level", "Yes") }}>
                <label for="radio-part-3">Level 3 (constant watch via CCTV)</label>
              </div>
              <div class="panel panel-border-narrow js-hidden" id="level3-info">
                <div class="form-group">
                  <label class="form-label" for="textarea-a">
                    Give details, including reasons for assigning observation level:
                  </label>
                  <textarea class="form-control form-control-3-4" id="textarea-a" cols="30" rows="3" name="obvs_info_3" >{{ data['obvs_info_3'] }}</textarea>
                </div>
              </div>
              <div class="multiple-choice" data-target="level4-info">
                <input id="radio-part-4" type="radio" name="obvs_level" value="Yes" {{ checked("obvs_level", "Yes") }}>
                <label for="radio-part-4" >Level 4 (constant physical watch)</label></div>
              </div>
              <div class="panel panel-border-narrow js-hidden" id="level4-info">
                <div class="form-group">
                  <label class="form-label" for="textarea-a">
                    Give details, including reasons for assigning observation level:
                  </label>
                  <textarea class="form-control form-control-3-4" id="textarea-a" cols="30" rows="3" name="obvs_info_4" >{{ data['obvs_info_4'] }}</textarea>
                </div>
              </div>
            </fieldset>
          </div>


          <!-- button -->
          <div class="form-group">

            {% include "includes/risk-screen-buttons.html" %}
          </div>
        </form>
      </div>
      <div class="side-profile column-one-third">
        {% include "includes/side-profile.html" %};
      </div>
    </main>

    {% endblock %}
