{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <form action="risk_01" method="get" class="column-two-thirds" class="form">

      <h1 class="heading-large">
        Before you start
      </h1>
      <p class="lede">
        These questions are designed to ensure the safety of the detainee and anyone they come into contact with when they leave police custody.
      </p>
      <p>
        You should base your answers on the detainee’s:
        <ul class="list list-bullet">
          <li>PNC warnings</li>
          <li>risk assessment</li>
          <li>behaviour and demeanour while in custody</li>
          <li>third party information</li>
        </ul>
      </p>
      <p>
        If you have access to any other relevant risk information about the detainee (including previous offences), please include it.
      </p>
      <br>
      <!-- button -->
      <div class="form-group">
        <!-- <a class="button" href="check-your-answers.html" role="button" >Save and continue</a> -->
        <input class="button" type="submit" value="Continue">
      </div>
    </form>
    <div class="side-profile column-one-third">
      {% include "includes/side-profile.html" %};
    </div>
  </div>

</div>
</main>

{% endblock %}
