{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-full"><p><a href="risk_07.html">Back</a>&emsp;8 of 12&emsp;<a href="risk_09.html">Skip</a></p>
    </div>
    <div class="column-two-thirds">
      <form action="risk_09" method="get" class="form">

        <h1 class="heading-secondary">
          Sex offender
        </h1>
        <!-- question -->
        <h2 class="heading-medium">
          Are they a current or previous sex offender?
        </h2>
        <p class="form-hint">
          In NOMIS, check the header section of the prisoner’s record for relevant alerts. Check alert comments and <em>Legal cases > Court cases > Offences</em> for details.
        </p>

        <div class="form-group">
          <span class="nomis-verified"></span>
          <fieldset class="inline">

            <legend class="visually-hidden"></legend>

            <div class="multiple-choice" data-target="sex_offender_info">
              <input id="radio-inline-5" type="radio" name="sex_offender" value="Yes" {{ checked("sex_offender", "Yes") }}>
              <label for="radio-inline-5">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-6" type="radio" name="sex_offender" value="No" {{ checked("sex_offender", "No") }} onclick="clearDetails('textarea-b');">
              <label for="radio-inline-6">No</label>
            </div>

          </fieldset>
        </div>

        <!-- conditionals -->
        <div class="panel panel-border-narrow js-hidden" id="sex_offender_info">
          <div class="form-group">
            <label class="form-label" for="textarea-b">
              Give details of victim; adult male, adult female or under 18.
            </label>
            <textarea class="form-control form-control-3-4" id="textarea-b" rows="3" name="sex_offender_info">{{ data['sex_offender_info'] }}</textarea>
          </div>
        </div>

        <!-- button -->
        <div class="form-group">
          {% include "includes/risk-screen-buttons.html" %}
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
