{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content">
  <p class="error-summary js-hidden">You need to sign in or sign up before continuing.</p>

  <h1 class="heading-large">Start a PER</h1>
  <div class="form-group" style="width:50%;">
    <label class="form-label-bold" for="user_email">Enter a prisoner number</label>
    <div class="form-hint">For example A1234AB</div>
    <input class="form-control" type="email" value="" name="user[email]" id="user_email">
    <span class="actions" style="display:inline-block !important;">
      <a class="button" href="detainee_info" role="button" style="vertical-align:middle;">Search</a>
    </span>
  </div>


</form>

</main>

{% endblock %}
