{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Start a PER
      </h1>

      <div class="form-group">

        <label for="example-full-name" id="error-full-name">

          <span class="form-label-bold">PNC number</span>
          <span class="form-hint">For example 01/234567A</span>

        </label>

        <input class="form-control" id="example-full-name" type="text" name="fullName" value="{{data['pn']}}">
      </div>

      <input class="button" type="submit" value="Search">

    </div>
  </div>

  <div class="">
    <div class="search-results" style="margin-top: 30px">
      <div class="form-label-bold">Search result</div>
      <div class="">There are no previous ePERs for {{data.pn}}</div>
      <a class="button" style="margin-top:20px;" href="/detainee_info.html">Start new PER</a></div>
    </main>

    {% endblock %}
