{% extends "layout.html" %}

{% block page_title %}
Start page
{% endblock %}

{% block content %}

<main id="content" role="main">

  <!-- <div class="breadcrumbs">
  <ol>
  <li><a href="">Home</a></li>
</ol>
</div> -->

<div class="grid-row">
  <div class="column-two-thirds">

    <!-- <h1 class="heading-xlarge">
    {% if serviceName %} {{ serviceName }} {% endif %}
  </h1> -->

  <h1 class="heading-xlarge" style="margin:70px 0px 40px 0px">Create or view a Person Escort Record (PER)</h1>
  <h3 class="heading-medium">If you work in a prison</h3>
  <p>
    Use this service to create or complete an electronic PER for people moving from prison to:
  </p>
  <ul class="list list-bullet">
    <li>Crown or Magistrates' Court</li>
    <li>hospital</li>
    <li>another prison</li>
    <li>any other destination (for example, on a compassionate visit)</li>
  </uL>
  <div class="panel panel-border-wide">
    <p>
      You will need to complete a paper PER for any other moves.
    </p>
  </div>
  <h3 class="heading-medium">If you work in a court</h3>
  <p>
    Use this service to see the PERs for people moving to your court today.
  </p>

  <p>
    <a class="button button-start" href="sign_in" role="button">Start now</a>
  </p>

  <h3 class="heading-medium">Before you start</h3>
  <p>To use this service you’ll need:</p>
  <ul class="list list-bullet">
    <li>a Ministry of Justice Sign On account</li>
    <li>to be part of the ePER pilot programme</li>
    <li>access to a printer to print the ePER once completed (if you are in a prison)</li>
  </uL>

  <h3 class="heading-medium">Help with this service</h3>
  <p><a href="contact-us-logged-out">Contact us</a>&nbsp; if you need help using this service.</p>
</div>
<!-- <div class="column-third">

<aside class="govuk-related-items" role="complementary">
<h2 class="heading-medium" id="subsection-title">Subsection</h2>
<nav role="navigation" aria-labelledby="subsection-title">
<ul class="font-xsmall">
<li><a href="#">Related link</a></li>
<li><a href="#">Related link</a></li>
<li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
</ul>
</nav>
</aside>

</div> -->
</div>

</main>

{% endblock %}
